.brands {
  &__subtitle {
    margin: 0 auto 60px;
    max-width: 527px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 50px;
    max-width: 1080px;
  }

  &__item {
    position: relative;
    flex-grow: 1;
    padding: 20px 30px;
    width: calc(100% / 3);
    box-shadow: 0 0 0 1px $grey-color;

    p {
      line-height: 1.35;
    }

    &:first-child {
      border-radius: 10px 0 0;
      width: 48%;
    }

    &:last-child {
      border-radius: 0 0 10px;
    }

    &:nth-child(2) {
      border-radius: 0 10px;
    }

    &:nth-child(6) {
      border-radius: 0 0 0 10px;
    }

    &--lg {
      padding: 30px;
      width: calc(100% / 2);
    }

    &--sm {
      padding: 32px 30px;
      width: calc(100% / 4);
    }
  }

  &__name {
    margin-bottom: 22px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.25;
    color: $accent-color;
  }
}

@media screen and (max-width: 768px) {
  .brands {
    &__subtitle {
      margin-bottom: 32px;
    }

    &__item {
      border-radius: 0;
      width: 50%;

      &:nth-last-child(2) {
        border-bottom-left-radius: 4px;
      }

      &:first-child {
        border-radius: 4px 4px 0 0;
      }

      &:last-child {
        border-top-right-radius: 4px;
      }

      &:nth-child(2),
      &:nth-child(6) {
        border-radius: 0;
      }

      &:nth-child(3) {
        width: 100%;
      }

      &--lg {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .brands {
    &__list {
      margin-bottom: 40px;
    }

    &__item {
      padding: 16px;

      p {
        font-size: 14px;
      }
    }

    &__name {
      margin-bottom: 8px;
      font-size: 16px;
    }
  }
}
