.chars {
  position: relative;
  overflow: hidden;

  &::after {
    @include bg-circle(578px);

    right: -118px;
    top: -477px;
  }

  &__title {
    margin: 0 auto 22px;
  }

  &__subtitle {
    margin-bottom: 50px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    margin: 0 auto 50px;
    max-width: 1080px;
    gap: 0 28px;
  }

  &__item {
    border: 1px solid $grey-color;
    border-radius: 4px;
    padding: 28px 25px;
  }

  &__img {
    @include flex-all-center;

    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    border-radius: 4px;
    padding: 24px;
    background: rgba(44, 44, 44, 50%);

    &::before {
      @include bg-circle(196px, 25px);

      right: 64px;
      bottom: -115px;
    }

    picture {
      position: relative;
    }
  }

  &__name {
    margin-bottom: 16px;
    max-width: 226px;
    font-weight: 700;
    font-size: 22px;
    color: $accent-color;
  }

  &__buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 20px;
  }

  &__btn {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.4;
    color: $white-color;

    svg {
      flex-shrink: 0;
      margin-left: 8px;
      fill: transparent;

      circle {
        transition: $transition;
      }
    }

    @include hover {
      svg {
        circle {
          fill: $accent-color;
          stroke: transparent;
        }
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .chars {
    &__list {
      gap: 18px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .chars {
    &__subtitle {
      margin: 0 auto 30px;
      max-width: 255px;
    }

    &__name {
      font-size: 20px;
      line-height: 1.3;
    }

    &__list {
      display: block;
    }

    &__item {
      margin: 0 auto 18px;
      max-width: 340px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .chars::after {
    display: none;
  }
}

@media screen and (max-width: 376px) {
  .chars {
    &__item {
      padding: 20px 15px;
    }

    &__buttons {
      justify-content: space-between;
      gap: 10px 5px;
    }
  }
}
