.hero {
  padding-top: calc(var(--header-height) + 24px);
  background:
    url("../img/bg-elements.svg") top 36% right -42px no-repeat,
    url("../img/hero-bg.jpg") center bottom / cover no-repeat;

  &__title {
    margin-bottom: 18px;
    font-size: 56px;
    line-height: 1.15;
    color: $white-color;

    div {
      font-weight: 700;
    }
  }

  &__subtitle {
    margin-bottom: 28px;
    font-size: 18px;
    line-height: 1.4;
    color: $white-color;
  }

  &__img-mob {
    display: none;
  }

  &__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding-bottom: 60px;
    max-width: 1000px;
  }

  &__item {
    @include mr(60px);

    picture {
      display: flex;
      margin-bottom: 3px;
    }
  }

  &__item-title {
    font-weight: 700;
    font-size: 22px;
    white-space: nowrap;
    text-align: center;
  }
}

.hero-benefits {
  position: relative;

  &__inner {
    display: flex;
    align-items: center;
    overflow: hidden;
    border: 1px solid $grey-color;
    border-radius: 4px;
    padding: 31px 40px 36px 58px;
    background: rgba($grey-color, 0.05);
    backdrop-filter: blur(50px);
  }

  &__panel {
    position: absolute;
    left: 78px;
    top: -5px;
    border-radius: 4px 4px 0 0;
    width: 164px;
    height: 37px;
    background: $blue-color;
  }

  &__head {
    margin-right: 99px;
    max-width: 220px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.25;

    span {
      font-size: 28px;
    }
  }

  &__list {
    display: grid;
    justify-content: center;
    grid-template-columns: 1.6fr 1fr 1fr 1.1fr;
    width: 100%;
    gap: 30px 60px;
  }

  &__item {
    @include flex-h-center;

    min-width: 133px;
  }

  &__icon {
    @include circle(40px);
    @include flex-all-center;

    flex-shrink: 0;
  }

  &__text {
    margin-left: 18px;

    &--center {
      align-self: center;
    }
  }
}

@media screen and (max-width: 1280px) {
  .hero-benefits {
    &__inner {
      padding: 20px 30px;
    }

    &__panel {
      left: 38px;
    }

    &__list {
      gap: 30px;
    }

    &__head {
      margin-right: 30px;
      font-size: 18px;

      span {
        font-size: 24px;
      }
    }

    &__text--center {
      align-self: flex-start;
    }
  }
}

@media screen and (max-width: 1024px) {
  .hero {
    background: url("../img/bg-elements.svg") top 7% right -91px / 2500px no-repeat;

    &__item-title {
      font-size: 18px;
    }

    &__item {
      @include mr(30px);

      picture {
        margin-bottom: 14px;
      }
    }

    &__title {
      margin-bottom: 8px;
      font-size: 26px;
      line-height: 1.25;
    }

    &__subtitle {
      margin-bottom: 35px;
    }
  }

  .hero-benefits {
    margin: 0 auto;
    max-width: 700px;

    &__panel {
      left: 0;
      right: 0;
      margin: 0 auto;
    }

    &__head {
      margin: 0 auto;
      padding: 12px 15px 15px;
      font-size: 16px;
      text-align: center;

      span {
        font-size: 20px;
      }
    }

    &__inner {
      display: block;
      border-radius: 10px;
      padding: 0;
    }

    &__list {
      grid-template-columns: 1fr 1fr;
      border: none;
      padding: 0;
      backdrop-filter: none;
      gap: 0;
    }

    &__item {
      display: block;
      padding: 20px;
      min-width: auto;
      box-shadow: 0 0 0 1px $grey-color;
      background: #0d0d0d;

      &:last-child {
        border-bottom-right-radius: 10px;
      }

      &:nth-child(3) {
        border-bottom-left-radius: 10px;
      }
    }

    &__icon {
      margin-bottom: 10px;
      width: 30px;
      height: 30px;

      img {
        width: 16px;
        height: 16px;
      }
    }

    &__text {
      margin-left: 0;
      max-width: 127px;
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 768px) {
  .hero {
    &__subtitle {
      margin-bottom: 27px;
      font-size: 16px;
    }

    &__item-title {
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 575px) {
  .hero__subtitle {
    margin: 0 auto 27px;
    max-width: 290px;
  }
}

@media screen and (max-width: 376px) {
  .hero {
    &__title {
      font-size: 24px;
    }

    &__item {
      @include mr(15px);
    }

    &__item-title {
      font-size: 15px;
    }
  }
}
