.partners {
  &__title {
    margin: 0 auto 60px;
    max-width: 700px;
  }

  &__item {
    picture {
      display: flex;
      justify-content: center;
      filter: grayscale(1) brightness(50%);
      transition: filter $transition;

      &:hover,
      &:focus,
      &:active {
        filter: grayscale(0) brightness(100%);
      }
    }

    > picture {
      &:first-child {
        margin-bottom: 60px;
      }
    }
  }

  &__item-row {
    display: flex;
    align-items: center;

    picture:first-child {
      margin-right: 65px;
    }
  }

  &__pagination {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .partners {
    &__list {
      display: flex;
    }

    &__item {
      margin-right: 65px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .partners {
    &__content {
      margin: 0 -15px;
      padding-right: 15px;
      padding-bottom: 60px;
    }

    &__item {
      width: auto;

      > picture:first-child {
        margin-bottom: 35px;
      }

      img {
        width: auto;
        max-height: 45px;
      }
    }

    &__title {
      margin-bottom: 35px;
    }

    &__pagination {
      bottom: -5px;
      display: block;
    }
  }
}
