.profit {
  position: relative;
  overflow: hidden;

  &::after {
    @include bg-circle;

    right: -217px;
    bottom: -278px;
  }

  &__title {
    position: relative;
    padding-right: 200px;
  }

  &__banner {
    position: absolute;
    right: 0;
    top: 4px;
  }

  &__inner {
    display: flex;
    align-items: center;
    border: 1px solid $grey-color;
    border-radius: 4px;
    background: rgba(46, 46, 46, 3%);
  }

  &__img {
    position: relative;
    margin-right: 60px;
    border-radius: 4px 0 0 4px;
    width: 100%;
    max-width: 568px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      border-radius: 4px 0 0 4px;
      width: 100%;
      height: 100%;
      background: linear-gradient(90.8deg, #0d0d0d 0.65%, rgba(12, 12, 12, 0%) 99.26%);
    }

    img {
      border-radius: 4px 0 0 4px;
    }
  }

  &__content {
    padding: 20px 15px 20px 0;

    ul {
      display: flex;
      justify-content: space-between;
      margin-bottom: 60px;
      max-width: 445px;
    }

    li {
      @include mr(15px);

      position: relative;
      padding-left: 26px;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 4px;
        display: block;
        width: 10px;
        height: 10px;
        background-color: $blue-color;
      }
    }
  }

  &__subtitle {
    margin-bottom: 32px;
    max-width: 445px;
  }
}

@media screen and (max-width: 1024px) {
  .profit {
    &__img {
      margin-right: 40px;
    }

    &__content {
      ul {
        margin-bottom: 40px;
      }

      li {
        font-size: 14px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .profit {
    &__title {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      padding-right: 0;
    }

    &__subtitle {
      margin: 0 auto 32px;
      max-width: 245px;
    }

    &__img {
      margin: 0 auto;
    }

    &__banner {
      position: static;
      margin-bottom: 24px;
    }

    &__inner {
      flex-direction: column;
    }

    &__content {
      padding: 0 15px 60px;
      text-align: center;

      li {
        text-align: left;
      }
    }

    &__btn {
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 476px) {
  .profit {
    &__content {
      max-width: 290px;

      ul {
        display: block;
      }

      li {
        @include mb(16px);
        @include mr(0);

        &::before {
          width: 6px;
          height: 6px;
        }
      }
    }
  }
}
