.modal {
  $transitionModal: opacity 0.3s ease-out;

  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 20;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: rgba(#141111, 0.99);
  opacity: 0;
  transition: $transitionModal;

  &__scroll-wrapper {
    width: 100%;
  }

  &__wrapper {
    display: flex;
    padding: 15px;
    width: 100%;
    height: 100%;
    max-height: 93vh;
  }

  &__inner {
    position: relative;
    overflow: auto;
    margin: auto;
    border-radius: 12px;
    padding: 100px 160px 132px;
    height: 100%;
    max-width: 1270px;
    max-height: 100%;
    background-color: $dark-color;
  }

  &__close {
    position: absolute;
    right: 50px;
    top: 40px;
    outline: transparent;
    border: none;
    box-shadow: none;
    font-size: 40px;
    background: 0;
    cursor: pointer;

    svg {
      width: 23px;
      height: 23px;
    }

    path {
      transition: $transition;
    }

    @include hover {
      path {
        stroke: $accent-color;
      }
    }
  }

  &[aria-hidden="true"] {
    display: none;
  }

  &[aria-hidden="false"] {
    display: block;
  }

  &.is-open {
    opacity: 1;
  }
}

.modal-complect {
  &__inner {
    &.is-more {
      .modal-complect__item:nth-child(12) ~ .modal-complect__item {
        display: block;
      }
    }
  }

  &__btn {
    margin-top: 30px;
  }

  &__title {
    margin: 0 auto 50px;
    max-width: 700px;
  }

  &__subtitle {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.25;
  }

  &__list {
    @include mb(25px);

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__item {
    position: relative;
    width: calc(100% / 4);
    box-shadow: 0 0 0 1px $grey-color;
    text-align: center;
    background: rgba(46, 46, 46, 20%);

    &:nth-child(12) ~ .modal-complect__item {
      // display: none;
    }
  }

  &__item-inner {
    display: flex;
    flex-direction: column;
    padding: 32px 0;
    height: 100%;
  }

  &__count {
    position: absolute;
    right: 9px;
    top: 14px;
    font-size: 14px;
    color: $grey-color;
  }

  &__img {
    @include flex-all-center;

    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    min-height: 110px;
  }

  &__name {
    margin: auto 0;
    padding: 0 29px;
  }
}

.modal-chars {
  &__title {
    margin-bottom: 48px;
  }

  .modal__inner {
    padding: 100px 50px;
  }
}

.modal-table {
  line-height: 1.2;

  &__title {
    &-mob {
      display: none;
    }
  }

  &__img {
    position: relative;
    z-index: 1;
    display: inline-block;
    overflow: hidden;
    border-radius: 3px;
    padding: 14px 30px;
    text-align: center;
    background: rgba(44, 44, 44, 50%);

    &::after {
      @include bg-circle(125px);

      left: 50%;
      bottom: -77px;
      transform: translateX(-50%);
    }
  }

  &__subtitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.4;
    color: $accent-color;
  }

  tr {
    border-top: 1px solid rgba(255, 255, 255, 5%);

    &.modal-table__spoiler {
      border: none;
      border-bottom: 4px solid $black-color;

      td {
        vertical-align: middle;
      }
    }
  }

  thead tr:first-child {
    border: none;

    td {
      padding-bottom: 22px;
    }
  }

  table {
    width: 100%;
  }

  td,
  th {
    vertical-align: middle;
    padding: 8px;
    height: 56px;
    text-align: center;

    &:first-child {
      padding-left: 32px;
      width: 39%;
      text-align: left;
    }

    &.modal-table__item-top {
      vertical-align: top;
    }
  }

  td:first-child {
    font-weight: 700;
  }

  th:first-child {
    vertical-align: middle;
  }

  &__spoiler {
    background-color: rgba(255, 255, 255, 5%);
    cursor: pointer;

    + tr {
      border: none;
    }

    td {
      vertical-align: middle;
      padding: 17px 33px;
    }

    img {
      position: relative;
      top: 3px;
      margin-left: 10px;
      transition: $transition;
    }

    &.is-active {
      img {
        transform: rotate(180deg);
      }
    }
  }

  &__item-sm {
    font-size: 14px;
  }

  .modal-table__spoiler td {
    font-weight: 400;
  }
}

.modal-form {
  .modal__close {
    right: 22px;
    top: 4px;
  }

  .modal-form__form {
    border-radius: 8px;
    padding: 50px;
  }

  &__form {
    margin: auto;
    width: 100%;
    max-width: 420px;
  }

  &__title {
    margin-bottom: 18px;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
  }

  .modal__inner {
    position: relative;
    overflow: auto;
    margin: auto;
    border-radius: 8px;
    padding: 0 15px;
    height: auto;
    max-width: 420px;
    max-height: 100%;
    background-color: transparent;
  }
}

@media screen and (max-width: 1024px) {
  .modal {
    &__close {
      right: 15px;
      top: 15px;
    }

    &__inner {
      padding: 60px 40px;
    }
  }

  .modal-table {
    &__title {
      font-size: 28px;
    }

    &__subtitle {
      font-size: 20px;
    }
  }

  .modal-chars {
    .modal__inner {
      padding: 60px 30px;
    }
  }
}

@media screen and (max-width: 768px) {
  .modal-form {
    &__title {
      margin-bottom: 24px;
      font-size: 16px;
    }

    .modal__close {
      top: -8px;

      svg {
        width: 16px;
        height: 16px;
      }
    }

    .form {
      border: none;
      padding: 35px;
    }
  }

  .modal-complect {
    &__inner {
      &.is-more {
        .modal-complect__item:nth-child(10) ~ .modal-complect__item {
          display: block;
        }
      }
    }

    &__subtitle {
      margin-bottom: 16px;
      font-size: 16px;
      line-height: 1.35;
    }

    &__list {
      justify-content: flex-start;
    }

    &__item {
      width: 50%;

      &:nth-child(10) ~ .modal-complect__item {
        // display: none;
      }
    }
  }

  .modal-table {
    font-size: 14px;

    .modal-table__title-mob {
      text-align: left;
    }

    &__title-mob {
      font-size: 26px;
    }
  }

  .modal-chars {
    &__title {
      display: none;
    }

    .modal-table {
      position: relative;
      padding-top: 100px;

      table {
        width: 100%;
      }

      thead {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        display: block;
        margin: 0 auto;

        tr {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 30px;

          td {
            padding: 0;

            &.modal-table__title-mob {
              margin: 0;
              padding: 0;
            }
          }

          &:nth-child(2) {
            display: none;
          }
        }

        td {
          display: block;
          flex-shrink: 0;
          height: auto;

          &:not(:last-child) {
            margin-right: 20px;
            padding: 0;
          }

          img {
            display: flex;
            max-width: 110px;
          }
        }
      }

      .modal-table__title {
        display: none;

        &-mob {
          display: block;
        }
      }

      td {
        &:first-child {
          font-weight: 300;
          color: rgba($g1-color, 0.6);
        }
      }

      .modal-table__spoiler td {
        border-bottom: 2px solid $black-color;
        padding: 15px;
        font-weight: 400;
        color: $g1-color;
      }
    }

    td {
      padding: 15px;
      height: 50px;
    }

    .modal-table td:first-child,
    .modal-table th:first-child {
      padding: 10px 15px;
    }

    &__item-sm {
      font-size: 12px;
    }

    .modal__inner {
      padding: 60px 0;
    }

    &.is-active-1 {
      .modal-table {
        &__td {
          &-2,
          &-3 {
            display: none;
          }
        }
      }
    }

    &.is-active-2 {
      .modal-table {
        &__td {
          &-1,
          &-3 {
            display: none;
          }
        }
      }
    }

    &.is-active-3 {
      .modal-table {
        &__td {
          &-1,
          &-2 {
            display: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .modal {
    &__wrapper {
      padding: 0;
    }

    &__inner {
      padding: 60px 15px;
    }
  }

  .modal-complect {
    &__name {
      padding: 0 26px;
      font-size: 12px;
    }

    &__count {
      top: 10px;
    }

    &__item-inner {
      padding: 26px 0 22px;
    }
  }
}

@media screen and (max-width: 476px) {
  .modal-chars .modal-table thead td {
    flex-shrink: 1;
  }

  .modal-table__title-mob {
    font-size: 22px;
  }
}

@media screen and (max-width: 376px) {
  .modal-complect {
    &__name {
      padding: 0 12px;
    }
  }
}
