.nav {
  flex-grow: 1;

  > ul {
    @include flex-sb;

    > li {
      color: $white-color;

      > a {
        display: inline-block;
        padding: 24px 15px;
        transition: $transition;

        @include hover {
          color: $accent-color;
        }
      }
    }
  }
}

.nav-submenu {
  position: relative;
  margin-right: 0;
  min-width: 138px;

  > a {
    > span {
      position: relative;
      padding-right: 20px;
      padding-left: 16px;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 6px;
        width: 11px;
        height: 7px;
        background: url("../img/arrow-down-icon.svg") center no-repeat;
        transition: $transition;
      }
    }
  }

  > ul {
    position: fixed;
    left: 0;
    top: var(--header-height);
    z-index: 14;
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    padding: 3px 10px 8px;
    width: 100%;
    background-color: $accent-color;

    > li > a {
      display: inline-block;
      padding: 10px 15px;
      color: $white-color;
      transition: $transition;

      @include hover {
        color: $accent-color;
        background-color: $white-color;
      }
    }
  }

  &.is-active {
    > ul {
      display: flex;
    }

    > a {
      > span {
        &::after {
          transform: rotate(180deg);
        }
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .nav > ul > li > a {
    padding: 24px 7px;
  }
}
