.socials {
  @include flex-v-center;

  li {
    @include mr(10px);
  }

  svg {
    width: 22px;
    height: auto;
  }

  path {
    transition: $transition;
  }

  a {
    @include flex-all-center;
    @include circle(32px, $grey-color);

    transition: $transition;

    @include hover {
      background-color: $g1-color;

      path {
        stroke: #424348;
      }
    }
  }
}
