.socials {
  @include flex-all-center;

  padding: 16px 0;

  li {
    margin: 0 10px;
  }

  svg {
    width: 30px;
    height: auto;
  }

  a {
    display: block;

    path {
      transition: $transition;
    }

    &:hover {
      path {
        stroke: $accent-color;
      }
    }
  }
}
