<div class="modal modal-complect" id="modal-complect-3" aria-hidden="true">
  <div class="modal__wrapper">
    <div class="modal__scroll-wrapper" data-simplebar>
      <div class="modal__inner">
        <div class="modal__content">
          <h3 class="modal-complect__title section-title text-center">комплектация Launch X431
            PRO3&nbsp;V.5.0&nbsp;SE&nbsp;FULL</span>
          </h3>
          <div class="modal-complect__inner" data-show-more-parent>
            <ul class="modal-complect__list">
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-3.webp 1x, img/complect-3@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-3.png"
                        srcset="img/complect-3.png 1x, img/complect-3@2x.png 2x" width="135" height="97" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Диагностический сканер Autel MaxiSys MS906 Pro</div>
                </div>
              </li>
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-4.webp 1x, img/complect-4@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-4.png"
                        srcset="img/complect-4.png 1x, img/complect-4@2x.png 2x" width="100" height="100" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Адаптер диагностический <br> MaxiVCI V200</div>
                </div>
              </li>
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-46.webp 1x, img/complect-46@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-46.png"
                        srcset="img/complect-46.png 1x, img/complect-46@2x.png 2x" width="82" height="108" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Осциллограф <br> MaxiScope MP408</div>
                </div>
              </li>
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">4 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-47.webp 1x, img/complect-47@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-47.png"
                        srcset="img/complect-47.png 1x, img/complect-47@2x.png 2x" width="154" height="81" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Провод измерительный <br> экранированный</div>
                </div>
              </li>
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-48.webp 1x, img/complect-48@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-48.png"
                        srcset="img/complect-48.png 1x, img/complect-48@2x.png 2x" width="164" height="64" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Адаптер для вторичной <br> цепи зажигания</div>
                </div>
              </li>
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-49.webp 1x, img/complect-49@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-49.png"
                        srcset="img/complect-49.png 1x, img/complect-49@2x.png 2x" width="162" height="59" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Двухпроводный отвод</div>
                </div>
              </li>
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-50.webp 1x, img/complect-50@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-50.png"
                        srcset="img/complect-50.png 1x, img/complect-50@2x.png 2x" width="173" height="68" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Провод с малыми крокодилами</div>
                </div>
              </li>
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-51.webp 1x, img/complect-51@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-51.png"
                        srcset="img/complect-51.png 1x, img/complect-51@2x.png 2x" width="137" height="80" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Набор из 2-х щупов мультиметра</div>
                </div>
              </li>
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">2 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-52.webp 1x, img/complect-52@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-52.png"
                        srcset="img/complect-52.png 1x, img/complect-52@2x.png 2x" width="132" height="96" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Аттенюаторы 20:1</div>
                </div>
              </li>
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-53.webp 1x, img/complect-53@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-53.png"
                        srcset="img/complect-53.png 1x, img/complect-53@2x.png 2x" width="76" height="95" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Набор зажимов типа <br> “крокодил” (малые)</div>
                </div>
              </li>
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-53.webp 1x, img/complect-53@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-53.png"
                        srcset="img/complect-53.png 1x, img/complect-53@2x.png 2x" width="88" height="108" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Набор зажимов типа <br> “крокодил” (большие)</div>
                </div>
              </li>
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-54.webp 1x, img/complect-54@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-54.png"
                        srcset="img/complect-54.png 1x, img/complect-54@2x.png 2x" width="155" height="87" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Набор из 5 пробников <br> (игольчатых)</div>
                </div>
              </li>
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-43.webp 1x, img/complect-43@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-43.png"
                        srcset="img/complect-43.png 1x, img/complect-43@2x.png 2x" width="124" height="91" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Адаптер Ethernet- <br> USB</div>
                </div>
              </li>
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-56.webp 1x, img/complect-56@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-56.png"
                        srcset="img/complect-56.png 1x, img/complect-56@2x.png 2x" width="143" height="108" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Адаптер питания</div>
                </div>
              </li>
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-57.webp 1x, img/complect-57@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-57.png"
                        srcset="img/complect-57.png 1x, img/complect-57@2x.png 2x" width="119" height="101" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Кабель питания</div>
                </div>
              </li>
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-58.webp 1x, img/complect-58@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-58.png"
                        srcset="img/complect-58.png 1x, img/complect-58@2x.png 2x" width="134" height="87" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Кабель питания <br>
                    от прикуривателя</div>
                </div>
              </li>
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-44.webp 1x, img/complect-44@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-44.png"
                        srcset="img/complect-44.png 1x, img/complect-44@2x.png 2x" width="133" height="83" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Кабель USB Type C</div>
                </div>
              </li>
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">2 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-8.webp 1x, img/complect-8@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-8.png"
                        srcset="img/complect-8.png 1x, img/complect-8@2x.png 2x" width="114" height="75" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Предохранители <br> плавкие</div>
                </div>
              </li>
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-41.webp 1x, img/complect-41@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-41.png"
                        srcset="img/complect-41.png 1x, img/complect-41@2x.png 2x" width="148" height="87" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Ткань для <br> очистки экрана</div>
                </div>
              </li>
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-61.webp 1x, img/complect-61@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-61.png"
                        srcset="img/complect-61.png 1x, img/complect-61@2x.png 2x" width="130" height="123" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Кейс для хранения</div>
                </div>
              </li>

            </ul>
            <div class="modal-complect__btn text-center">
              <button class="btn-link" data-show-more>Смотреть всё</button>
            </div>
          </div>
          <button class="modal__close" data-modal-close>@include('../../img/close-icon.svg')</button>
        </div>
      </div>
    </div>
  </div>
</div>
