<div class="modal modal-complect" id="modal-complect-1" aria-hidden="true">
  <div class="modal__wrapper">
    <div class="modal__scroll-wrapper" data-simplebar>
      <div class="modal__inner">
        <div class="modal__content">
          <h3 class="modal-complect__title section-title text-center">комплектация Launch X431 PRO V5.0&nbsp;SE
          </h3>
          <div class="modal-complect__inner">
            <ul class="modal-complect__list">
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-1.webp 1x, img/complect-1@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-1.png"
                        srcset="img/complect-1.png 1x, img/complect-1@2x.png 2x" width="111" height="81" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Сканер Launch X-431 <br> PRO v.&nbsp;5.0 (Version&nbsp;2022)</div>
                </div>
              </li>
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-2.webp 1x, img/complect-2@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-2.png"
                        srcset="img/complect-2.png 1x, img/complect-2@2x.png 2x" width="53" height="83" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Интерфейс <br> диагностический <br> DBScar VII</div>
                </div>
              </li>
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-3.webp 1x, img/complect-3@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-3.png"
                        srcset="img/complect-3.png 1x, img/complect-3@2x.png 2x" width="88" height="95" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Блок питания 220В</div>
                </div>
              </li>
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-4.webp 1x, img/complect-4@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-4.png"
                        srcset="img/complect-4.png 1x, img/complect-4@2x.png 2x" width="119" height="92" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Блок питания 12В</div>
                </div>
              </li>
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-5.webp 1x, img/complect-5@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-5.png"
                        srcset="img/complect-5.png 1x, img/complect-5@2x.png 2x" width="112" height="71" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Кабель Micro USB</div>
                </div>
              </li>
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-6.webp 1x, img/complect-6@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-6.png"
                        srcset="img/complect-6.png 1x, img/complect-6@2x.png 2x" width="103" height="89" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Кабель подключения адаптеров HD15F <br>
                    к OBDII 16-pin</div>
                </div>
              </li>
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-7.webp 1x, img/complect-7@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-7.png"
                        srcset="img/complect-7.png 1x, img/complect-7@2x.png 2x" width="113" height="98" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Кабель-удлинитель
                    диагн. разъема D15F- <br> D15F 600мм.</div>
                </div>
              </li>
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-8.webp 1x, img/complect-8@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-8.png"
                        srcset="img/complect-8.png 1x, img/complect-8@2x.png 2x" width="73" height="91" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Комплектация, руководство и&nbsp;купон
                    с&nbsp;кодом</div>
                </div>
              </li>
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-9.webp 1x, img/complect-9@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-9.png"
                        srcset="img/complect-9.png 1x, img/complect-9@2x.png 2x" width="118" height="103" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Кейс для хранения</div>
                </div>
              </li>
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-10.webp 1x, img/complect-10@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-10.png"
                        srcset="img/complect-10.png 1x, img/complect-10@2x.png 2x" width="126" height="110" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Упаковочная коробка</div>
                </div>
              </li>
            </ul>
          </div>
          <button class="modal__close" data-modal-close>@include('../../img/close-icon.svg')</button>
        </div>
      </div>
    </div>
  </div>
</div>
