<div class="modal modal-complect" id="modal-complect-1" aria-hidden="true">
  <div class="modal__wrapper">
    <div class="modal__scroll-wrapper" data-simplebar>
      <div class="modal__inner">
        <div class="modal__content">
          <h3 class="modal-complect__title section-title text-center">комплектация Launch X431 PRO
            V5.0 SE</h3>
          <div class="modal-complect__inner" data-show-more-parent>
            <ul class="modal-complect__list">
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-55.webp 1x, img/complect-55@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-55.png"
                        srcset="img/complect-55.png 1x, img/complect-55@2x.png 2x" width="134" height="94" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Диагностический сканер Autel MaxiSys MS906S SE</div>
                </div>
              </li>
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-25.webp 1x, img/complect-25@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-25.png"
                        srcset="img/complect-25.png 1x, img/complect-25@2x.png 2x" width="114" height="102" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Адаптер диагностический MiniVCI mini с удлинителем</div>
                </div>
              </li>
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-59.webp 1x, img/complect-59@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-59.png"
                        srcset="img/complect-59.png 1x, img/complect-59@2x.png 2x" width="114" height="114" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Тестер систем энергопотребления MaxiBAS BT506</div>
                </div>
              </li>
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-26.webp 1x, img/complect-26@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-26.png"
                        srcset="img/complect-26.png 1x, img/complect-26@2x.png 2x" width="117" height="110" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Адаптер Benz-14</div>
                </div>
              </li>
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-27.webp 1x, img/complect-27@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-27.png"
                        srcset="img/complect-27.png 1x, img/complect-27@2x.png 2x" width="147" height="85" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Адаптер Benz-38</div>
                </div>
              </li>
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-28.webp 1x, img/complect-28@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-28.png"
                        srcset="img/complect-28.png 1x, img/complect-28@2x.png 2x" width="134" height="113" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Адаптер BMW-20</div>
                </div>
              </li>
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-29.webp 1x, img/complect-29@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-29.png"
                        srcset="img/complect-29.png 1x, img/complect-29@2x.png 2x" width="131" height="95" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Адаптер Kia-20</div>
                </div>
              </li>
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-30.webp 1x, img/complect-30@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-30.png"
                        srcset="img/complect-30.png 1x, img/complect-30@2x.png 2x" width="131" height="95" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Адаптер Mitsubishi/ Hyundai-12+16</div>
                </div>
              </li>
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-31.webp 1x, img/complect-31@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-31.png"
                        srcset="img/complect-31.png 1x, img/complect-31@2x.png 2x" width="131" height="95" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Адаптер Nissan-14</div>
                </div>
              </li>
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-32.webp 1x, img/complect-32@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-32.png"
                        srcset="img/complect-32.png 1x, img/complect-32@2x.png 2x" width="114" height="99" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Адаптер Honda-3</div>
                </div>
              </li>
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-33.webp 1x, img/complect-33@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-33.png"
                        srcset="img/complect-33.png 1x, img/complect-33@2x.png 2x" width="113" height="99" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Адаптер Fiat-3</div>
                </div>
              </li>
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-34.webp 1x, img/complect-34@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-34.png"
                        srcset="img/complect-34.png 1x, img/complect-34@2x.png 2x" width="114" height="109" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Адаптер GM/ <br> Daewoo-12</div>
                </div>
              </li>
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-60.webp 1x, img/complect-60@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-60.png"
                        srcset="img/complect-60.png 1x, img/complect-60@2x.png 2x" width="113" height="107" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Адаптер PSA-2</div>
                </div>
              </li>
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-35.webp 1x, img/complect-35@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-35.png"
                        srcset="img/complect-35.png 1x, img/complect-35@2x.png 2x" width="123" height="93" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Адаптер VW - Audi-2+2</div>
                </div>
              </li>
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-37.webp 1x, img/complect-37@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-37.png"
                        srcset="img/complect-37.png 1x, img/complect-37@2x.png 2x" width="140" height="113" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Адаптер внешнего <br> питания</div>
                </div>
              </li>
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-57.webp 1x, img/complect-57@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-57.png"
                        srcset="img/complect-57.png 1x, img/complect-57@2x.png 2x" width="119" height="101" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Кабель питания</div>
                </div>
              </li>
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-38.webp 1x, img/complect-38@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-38.png"
                        srcset="img/complect-38.png 1x, img/complect-38@2x.png 2x" width="149" height="86" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Кабель питания от прикуривателя</div>
                </div>
              </li>
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-39.webp 1x, img/complect-39@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-39.png"
                        srcset="img/complect-39.png 1x, img/complect-39@2x.png 2x" width="128" height="87" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Кабель Mini USB</div>
                </div>
              </li>
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">2 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-8.webp 1x, img/complect-8@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-8.png"
                        srcset="img/complect-8.png 1x, img/complect-8@2x.png 2x" width="114" height="75" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Предохранители плавкие</div>
                </div>
              </li>
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-41.webp 1x, img/complect-41@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-41.png"
                        srcset="img/complect-41.png 1x, img/complect-41@2x.png 2x" width="148" height="87" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Ткань для экрана</div>
                </div>
              </li>
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-42.webp 1x, img/complect-42@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-42.png"
                        srcset="img/complect-42.png 1x, img/complect-42@2x.png 2x" width="138" height="80" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Шнурок для ношения адаптера MaxiVCI mini</div>
                </div>
              </li>
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-5.webp 1x, img/complect-5@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-5.png"
                        srcset="img/complect-5.png 1x, img/complect-5@2x.png 2x" width="144" height="104" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Кейс для хранения</div>
                </div>
              </li>
            </ul>
            <div class="modal-complect__btn text-center">
              <button class="btn-link" data-show-more>Смотреть всё</button>
            </div>
          </div>
          <button class="modal__close" data-modal-close>@include('../../img/close-icon.svg')</button>
        </div>
      </div>
    </div>
  </div>
</div>
