<div class="modal modal-complect" id="modal-complect-2" aria-hidden="true">
  <div class="modal__wrapper">
    <div class="modal__scroll-wrapper" data-simplebar>
      <div class="modal__inner">
        <div class="modal__content">
          <h3 class="modal-complect__title section-title text-center">комплектация Launch X431 PRO3 V.5.0 SE</h3>
          <div class="modal-complect__inner" data-show-more-parent>
            <ul class="modal-complect__list">
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-3.webp 1x, img/complect-3@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-3.png"
                        srcset="img/complect-3.png 1x, img/complect-3@2x.png 2x" width="170" height="110" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Диагностический сканер Autel MaxiSys MS906 Pro</div>
                </div>
              </li>
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-4.webp 1x, img/complect-4@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-4.png"
                        srcset="img/complect-4.png 1x, img/complect-4@2x.png 2x" width="105" height="123" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Беспроводной адаптер MaxiVCI V200</div>
                </div>
              </li>
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img" style="min-height: 126px;">
                    <picture>
                      <source srcset="img/complect-43.webp 1x, img/complect-43@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-43.png"
                        srcset="img/complect-43.png 1x, img/complect-43@2x.png 2x" width="124" height="91" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Адаптер Ethernet- <br> USB</div>
                </div>
              </li>
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-44.webp 1x, img/complect-44@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-44.png"
                        srcset="img/complect-44.png 1x, img/complect-44@2x.png 2x" width="133" height="83" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Кабель USB Type C</div>
                </div>
              </li>
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-58.webp 1x, img/complect-58@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-58.png"
                        srcset="img/complect-58.png 1x, img/complect-58@2x.png 2x" width="134" height="87" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Кабель питания <br>
                    от прикуривателя</div>
                </div>
              </li>
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-56.webp 1x, img/complect-56@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-56.png"
                        srcset="img/complect-56.png 1x, img/complect-56@2x.png 2x" width="143" height="108" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Адаптер питания</div>
                </div>
              </li>
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-57.webp 1x, img/complect-57@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-57.png"
                        srcset="img/complect-57.png 1x, img/complect-57@2x.png 2x" width="119" height="101" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Кабель питания</div>
                </div>
              </li>
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">2 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-8.webp 1x, img/complect-8@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-8.png"
                        srcset="img/complect-8.png 1x, img/complect-8@2x.png 2x" width="114" height="75" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Предохранители <br> плавкие</div>
                </div>
              </li>
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-41.webp 1x, img/complect-41@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-41.png"
                        srcset="img/complect-41.png 1x, img/complect-41@2x.png 2x" width="148" height="87" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Ткань для <br> очистки экрана</div>
                </div>
              </li>
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-61.webp 1x, img/complect-61@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-61.png"
                        srcset="img/complect-61.png 1x, img/complect-61@2x.png 2x" width="130" height="123" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Кейс для хранения</div>
                </div>
              </li>
            </ul>
          </div>
          <button class="modal__close" data-modal-close>@include('../../img/close-icon.svg')</button>
        </div>
      </div>
    </div>
  </div>
</div>
