<div class="modal modal-chars" id="modal-chars" aria-hidden="true">
  <div class="modal__wrapper">
    <div class="modal__scroll-wrapper" data-simplebar>
      <div class="modal__inner">
        <div class="modal__content">
          <h3 class="modal-chars__title section-title text-center">характеристики Launch X431</h3>
          <div class="modal__table modal-table">
            <table>
              <thead>
                <tr>
                  <td class="modal-table__title block-title">Сравнительная таблица <br> приборов LAUNCH Х431</td>
                  <td class="modal-table__td-1">
                    <div class="modal-table__img">
                      <picture>
                        <source srcset="img/hero-1.webp 1x, img/hero-1@2x.webp 2x" type="image/webp">
                        <img loading="lazy" src="img/hero-1.png" srcset="img/hero-1.png 1x, img/hero-1@2x.jpg 2x"
                          width="121" height="85" alt="">
                      </picture>
                    </div>
                  </td>
                  <td class="modal-table__td-2">
                    <div class="modal-table__img">
                      <picture>
                        <source srcset="img/hero-2.webp 1x, img/hero-2@2x.webp 2x" type="image/webp">
                        <img loading="lazy" src="img/hero-2.png" srcset="img/hero-2.png 1x, img/hero-2@2x.jpg 2x"
                          width="121" height="85" alt="">
                      </picture>
                    </div>
                  </td>
                  <td class="modal-table__td-3">
                    <div class="modal-table__img">
                      <picture>
                        <source srcset="img/hero-2.webp 1x, img/hero-2@2x.webp 2x" type="image/webp">
                        <img loading="lazy" src="img/hero-2.png" srcset="img/hero-2.png 1x, img/hero-2@2x.jpg 2x"
                          width="121" height="85" alt="">
                      </picture>
                    </div>
                  </td>
                  <td class="section-title modal-table__title-mob">Характеристики LAUNCH Х431</td>
                </tr>
                <tr>
                  <td class="modal-table__subtitle">LAUNCH Х431</td>
                  <td class="modal-table__subtitle">PRO V. 5.0</td>
                  <td class="modal-table__subtitle">PRO3 V.5.0 SE</td>
                  <td class="modal-table__subtitle">PRO3 V.5.0 SE FULL</td>
                </tr>
              </thead>
              <tbody>
                <tr class="modal-table__spoiler">
                  <td colspan="4">
                    Технические характеристики
                    <img src="img/arrow-down-red-icon.svg" width="16" height="16" alt="toggle">
                  </td>
                </tr>
                <tr>
                  <td>Экран</td>
                  <td class="modal-table__td-1">8", 1280*800</td>
                  <td class="modal-table__td-2">10.1", 1280*800</td>
                  <td class="modal-table__td-3">10.1", 1280*800</td>
                </tr>
                <tr>
                  <td>Процессор</td>
                  <td class="modal-table__td-1">2.0GHz, Quad-Core</td>
                  <td class="modal-table__td-2">2.0GHz, Quad-Core</td>
                  <td class="modal-table__td-3">2.0GHz, Quad-Core</td>
                </tr>
                <tr>
                  <td>Оперативная память</td>
                  <td class="modal-table__td-1">4 GB</td>
                  <td class="modal-table__td-2">4 GB</td>
                  <td class="modal-table__td-3">4 GB</td>
                </tr>
                <tr>
                  <td>Память SSD</td>
                  <td class="modal-table__td-1">64 GB</td>
                  <td class="modal-table__td-2">64 GB</td>
                  <td class="modal-table__td-3">64 GB</td>
                </tr>
                <tr>
                  <td>Камера</td>
                  <td class="modal-table__td-1">Rear 8 MP</td>
                  <td class="modal-table__td-2">Rear 8 MP</td>
                  <td class="modal-table__td-3">Rear 8 MP</td>
                </tr>
                <tr>
                  <td>АКБ</td>
                  <td class="modal-table__td-1">47.88Wh (7.6V, 6300mAh)</td>
                  <td class="modal-table__td-2">47.88Wh (7.6V, 6300mAh)</td>
                  <td class="modal-table__td-3">47.88Wh (7.6V, 6300mAh)</td>
                </tr>
                <tr>
                  <td>Размеры</td>
                  <td class="modal-table__td-1">234*166*39.5 mm</td>
                  <td class="modal-table__td-2">274*190.5*40.5 mm</td>
                  <td class="modal-table__td-3">274*190.5*40.5 mm</td>
                </tr>
                <tr>
                  <td>Держатель</td>
                  <td class="modal-table__td-1">Нет</td>
                  <td class="modal-table__td-2">Да</td>
                  <td class="modal-table__td-3">Да</td>
                </tr>
                <tr>
                  <td>Уровень защиты IP65</td>
                  <td class="modal-table__td-1">Нет</td>
                  <td class="modal-table__td-2">Нет</td>
                  <td class="modal-table__td-3">Нет</td>
                </tr>
                <tr>
                  <td>Быстрая зарядка</td>
                  <td class="modal-table__td-1">Нет</td>
                  <td class="modal-table__td-2">Нет</td>
                  <td class="modal-table__td-3">Нет</td>
                </tr>
                <tr>
                  <td>Зарядная станция</td>
                  <td class="modal-table__td-1">Нет</td>
                  <td class="modal-table__td-2">Нет</td>
                  <td class="modal-table__td-3">Нет</td>
                </tr>
                <tr>
                  <td>Тип адаптера</td>
                  <td class="modal-table__td-1">DBScar VII</td>
                  <td class="modal-table__td-2">DBScar VII</td>
                  <td class="modal-table__td-3">DBScar VII \ HD BOX III</td>
                </tr>
                <tr>
                  <td>Тип подключения VCI</td>
                  <td class="modal-table__td-1">Bluetooth/USB</td>
                  <td class="modal-table__td-2">Bluetooth/USB</td>
                  <td class="modal-table__td-3">Bluetooth/USB</td>
                </tr>
                <tr>
                  <td>Адаптеры OBD-I для легковых автомобилей</td>
                  <td class="modal-table__td-1">Нет</td>
                  <td class="modal-table__td-2">Нет</td>
                  <td class="modal-table__td-3">Да</td>
                </tr>
                <tr>
                  <td>Адаптеры OBD-I для коммерческой техники</td>
                  <td class="modal-table__td-1">Нет</td>
                  <td class="modal-table__td-2">Нет</td>
                  <td class="modal-table__td-3">Да</td>
                </tr>
                <tr class="modal-table__spoiler">
                  <td colspan="4">
                    Поддержка транспорта
                    <img src="img/arrow-down-red-icon.svg" width="16" height="16" alt="toggle">
                  </td>
                </tr>
                <tr>
                  <td>Легковые автомобили</td>
                  <td class="modal-table__td-1">Да</td>
                  <td class="modal-table__td-2">Да</td>
                  <td class="modal-table__td-3">Да</td>
                </tr>
                <tr>
                  <td>Малый коммерческий траспорт</td>
                  <td class="modal-table__td-1">Да</td>
                  <td class="modal-table__td-2">Да</td>
                  <td class="modal-table__td-3">Да</td>
                </tr>
                <tr>
                  <td>Коммерческая техника</td>
                  <td class="modal-table__td-1">Нет</td>
                  <td class="modal-table__td-2">Опция</td>
                  <td class="modal-table__td-3">Да</td>
                </tr>
                <tr class="modal-table__spoiler">
                  <td colspan="4">
                    Функции
                    <img src="img/arrow-down-red-icon.svg" width="16" height="16" alt="toggle">
                  </td>
                </tr>
                <tr>
                  <td>Операционная система</td>
                  <td class="modal-table__td-1">Android™ 10.0</td>
                  <td class="modal-table__td-2">Android™ 10.0</td>
                  <td class="modal-table__td-3">Android™ 10.0</td>
                </tr>
                <tr>
                  <td>Full System Diagnosis</td>
                  <td class="modal-table__td-1">Да</td>
                  <td class="modal-table__td-2">Да</td>
                  <td class="modal-table__td-3">Да</td>
                </tr>
                <tr>
                  <td>OBDII Full Function</td>
                  <td class="modal-table__td-1">Да</td>
                  <td class="modal-table__td-2">Да</td>
                  <td class="modal-table__td-3">Да</td>
                </tr>
                <tr>
                  <td>T2T Remote</td>
                  <td class="modal-table__td-1">Да</td>
                  <td class="modal-table__td-2">Да</td>
                  <td class="modal-table__td-3">Да</td>
                </tr>
                <tr>
                  <td>Smartlink Remote</td>
                  <td class="modal-table__td-1">Нет</td>
                  <td class="modal-table__td-2">Нет</td>
                  <td class="modal-table__td-3">Нет</td>
                </tr>
                <tr>
                  <td>Auto VIN</td>
                  <td class="modal-table__td-1">Да</td>
                  <td class="modal-table__td-2">Да</td>
                  <td class="modal-table__td-3">Да</td>
                </tr>
                <tr>
                  <td>Topology map</td>
                  <td class="modal-table__td-1">Нет</td>
                  <td class="modal-table__td-2">Нет</td>
                  <td class="modal-table__td-3">Нет</td>
                </tr>
                <tr>
                  <td>Bi-Directional Control</td>
                  <td class="modal-table__td-1">Да</td>
                  <td class="modal-table__td-2">Да</td>
                  <td class="modal-table__td-3">Да</td>
                </tr>
                <tr>
                  <td>Advanced Coding</td>
                  <td class="modal-table__td-1">Да</td>
                  <td class="modal-table__td-2">Да</td>
                  <td class="modal-table__td-3">Да</td>
                </tr>
                <tr>
                  <td>VAG Guided Function</td>
                  <td class="modal-table__td-1">Нет</td>
                  <td class="modal-table__td-2">Нет</td>
                  <td class="modal-table__td-3">Нет</td>
                </tr>
                <tr>
                  <td>J2534</td>
                  <td class="modal-table__td-1">Нет</td>
                  <td class="modal-table__td-2">Нет</td>
                  <td class="modal-table__td-3">Нет</td>
                </tr>
                <tr>
                  <td>DolP/CAN FD</td>
                  <td class="modal-table__td-1">Да</td>
                  <td class="modal-table__td-2">Да</td>
                  <td class="modal-table__td-3">Да</td>
                </tr>
                <tr>
                  <td>RP1210/D-PDU</td>
                  <td class="modal-table__td-1">Нет</td>
                  <td class="modal-table__td-2">Нет</td>
                  <td class="modal-table__td-3">Да</td>
                </tr>
                <tr>
                  <td>Advanced Programming</td>
                  <td class="modal-table__td-1">Нет</td>
                  <td class="modal-table__td-2">Нет</td>
                  <td class="modal-table__td-3">Нет</td>
                </tr>
                <tr class="modal-table__spoiler">
                  <td colspan="4">
                    Специальные функции
                    <img src="img/arrow-down-red-icon.svg" width="16" height="16" alt="toggle">
                  </td>
                </tr>
                <tr>
                  <td>Brake Reset</td>
                  <td class="modal-table__td-1">Да</td>
                  <td class="modal-table__td-2">Да</td>
                  <td class="modal-table__td-3">Да</td>
                </tr>
                <tr>
                  <td>Oil Maintenance Reset</td>
                  <td class="modal-table__td-1">Да</td>
                  <td class="modal-table__td-2">Да</td>
                  <td class="modal-table__td-3">Да</td>
                </tr>
                <tr>
                  <td>Steering Angle Reset</td>
                  <td class="modal-table__td-1">Да</td>
                  <td class="modal-table__td-2">Да</td>
                  <td class="modal-table__td-3">Да</td>
                </tr>
                <tr>
                  <td>Battery Matching</td>
                  <td class="modal-table__td-1">Да</td>
                  <td class="modal-table__td-2">Да</td>
                  <td class="modal-table__td-3">Да</td>
                </tr>
                <tr>
                  <td>ABS Bleeding</td>
                  <td class="modal-table__td-1">Да</td>
                  <td class="modal-table__td-2">Да</td>
                  <td class="modal-table__td-3">Да</td>
                </tr>
                <tr>
                  <td>Electric Throttle Relearn</td>
                  <td class="modal-table__td-1">Да</td>
                  <td class="modal-table__td-2">Да</td>
                  <td class="modal-table__td-3">Да</td>
                </tr>
                <tr>
                  <td>TPMS Reset Database</td>
                  <td class="modal-table__td-1">Да</td>
                  <td class="modal-table__td-2">Да</td>
                  <td class="modal-table__td-3">Да</td>
                </tr>
                <tr>
                  <td>DPF Regen</td>
                  <td class="modal-table__td-1">Да</td>
                  <td class="modal-table__td-2">Да</td>
                  <td class="modal-table__td-3">Да</td>
                </tr>
                <tr>
                  <td>Crank Position Sensor Adaptive Learning</td>
                  <td class="modal-table__td-1">Да</td>
                  <td class="modal-table__td-2">Да</td>
                  <td class="modal-table__td-3">Да</td>
                </tr>
                <tr>
                  <td>Immobilizer Reset</td>
                  <td class="modal-table__td-1">Да</td>
                  <td class="modal-table__td-2">Да</td>
                  <td class="modal-table__td-3">Да</td>
                </tr>
                <tr>
                  <td>Injector Coding</td>
                  <td class="modal-table__td-1">Да</td>
                  <td class="modal-table__td-2">Да</td>
                  <td class="modal-table__td-3">Да</td>
                </tr>
                <tr>
                  <td>IMMO Program</td>
                  <td class="modal-table__td-1">Да</td>
                  <td class="modal-table__td-2">Да</td>
                  <td class="modal-table__td-3">Да</td>
                </tr>
                <tr>
                  <td>Sunroof Reset</td>
                  <td class="modal-table__td-1">Нет</td>
                  <td class="modal-table__td-2">Да</td>
                  <td class="modal-table__td-3">Да</td>
                </tr>
                <tr>
                  <td>Air Level Calibration</td>
                  <td class="modal-table__td-1">Нет</td>
                  <td class="modal-table__td-2">Да</td>
                  <td class="modal-table__td-3">Да</td>
                </tr>
                <tr>
                  <td>Adaptive Front Lighting</td>
                  <td class="modal-table__td-1">Нет</td>
                  <td class="modal-table__td-2">Да</td>
                  <td class="modal-table__td-3">Да</td>
                </tr>
                <tr>
                  <td>Gearbox Relearn</td>
                  <td class="modal-table__td-1">Да</td>
                  <td class="modal-table__td-2">Да</td>
                  <td class="modal-table__td-3">Да</td>
                </tr>
                <tr>
                  <td>Adblue Reset</td>
                  <td class="modal-table__td-1">Да</td>
                  <td class="modal-table__td-2">Да</td>
                  <td class="modal-table__td-3">Да</td>
                </tr>
                <tr>
                  <td>Coolant Bleed</td>
                  <td class="modal-table__td-1">Нет</td>
                  <td class="modal-table__td-2">Нет</td>
                  <td class="modal-table__td-3">Нет</td>
                </tr>
                <tr>
                  <td>EGR Adaption</td>
                  <td class="modal-table__td-1">Да</td>
                  <td class="modal-table__td-2">Да</td>
                  <td class="modal-table__td-3">Да</td>
                </tr>
                <tr>
                  <td>Nox Sensor Reset</td>
                  <td class="modal-table__td-1">Нет</td>
                  <td class="modal-table__td-2">Нет</td>
                  <td class="modal-table__td-3">Нет</td>
                </tr>
                <tr>
                  <td>Seat Occupancy Calibration</td>
                  <td class="modal-table__td-1">Нет</td>
                  <td class="modal-table__td-2">Нет</td>
                  <td class="modal-table__td-3">Нет</td>
                </tr>
                <tr>
                  <td>Tire Reset</td>
                  <td class="modal-table__td-1">Нет</td>
                  <td class="modal-table__td-2">Нет</td>
                  <td class="modal-table__td-3">Нет</td>
                </tr>
                <tr>
                  <td>Windows Calibration</td>
                  <td class="modal-table__td-1">Да</td>
                  <td class="modal-table__td-2">Да</td>
                  <td class="modal-table__td-3">Да</td>
                </tr>
                <tr>
                  <td>Air/Fuel Reset</td>
                  <td class="modal-table__td-1">Нет</td>
                  <td class="modal-table__td-2">Нет</td>
                  <td class="modal-table__td-3">Нет</td>
                </tr>
                <tr>
                  <td>Stop/Start Reset</td>
                  <td class="modal-table__td-1">Нет</td>
                  <td class="modal-table__td-2">Нет</td>
                  <td class="modal-table__td-3">Нет</td>
                </tr>
                <tr>
                  <td>Transport Mode</td>
                  <td class="modal-table__td-1">Да</td>
                  <td class="modal-table__td-2">Да</td>
                  <td class="modal-table__td-3">Да</td>
                </tr>
                <tr>
                  <td>Language Change</td>
                  <td class="modal-table__td-1">Нет</td>
                  <td class="modal-table__td-2">Нет</td>
                  <td class="modal-table__td-3">Нет</td>
                </tr>
                <tr>
                  <td>AC System Relearn/Initialization</td>
                  <td class="modal-table__td-1">Нет</td>
                  <td class="modal-table__td-2">Нет</td>
                  <td class="modal-table__td-3">Нет</td>
                </tr>
                <tr>
                  <td>Intelligent Cruise Control System</td>
                  <td class="modal-table__td-1">Нет</td>
                  <td class="modal-table__td-2">Нет</td>
                  <td class="modal-table__td-3">Нет</td>
                </tr>
                <tr>
                  <td>Engine Power Balance Monitoring</td>
                  <td class="modal-table__td-1">Нет</td>
                  <td class="modal-table__td-2">Нет</td>
                  <td class="modal-table__td-3">Нет</td>
                </tr>
                <tr>
                  <td>Gas Particulate Filter Regeneration</td>
                  <td class="modal-table__td-1">Нет</td>
                  <td class="modal-table__td-2">Нет</td>
                  <td class="modal-table__td-3">Нет</td>
                </tr>
                <tr>
                  <td>Motor Angle Calibration</td>
                  <td class="modal-table__td-1">Нет</td>
                  <td class="modal-table__td-2">Нет</td>
                  <td class="modal-table__td-3">Нет</td>
                </tr>
                <tr>
                  <td>High-Voltage Battery Diagnostics</td>
                  <td class="modal-table__td-1">Нет</td>
                  <td class="modal-table__td-2">Да</td>
                  <td class="modal-table__td-3">Нет</td>
                </tr>
                <tr>
                  <td>More Reset Service</td>
                  <td class="modal-table__td-1">Нет</td>
                  <td class="modal-table__td-2">Нет</td>
                  <td class="modal-table__td-3">Нет</td>
                </tr>
                <tr class="modal-table__spoiler">
                  <td colspan="4">
                    Опциональные программные модули
                    <img src="img/arrow-down-red-icon.svg" width="16" height="16" alt="toggle">
                  </td>
                </tr>
                <tr>
                  <td>ADAS Mobile</td>
                  <td class="modal-table__td-1">Да</td>
                  <td class="modal-table__td-2">Да</td>
                  <td class="modal-table__td-3">Да</td>
                </tr>
                <tr>
                  <td>ADAS PRO Plus</td>
                  <td class="modal-table__td-1">Да</td>
                  <td class="modal-table__td-2">Да</td>
                  <td class="modal-table__td-3">Да</td>
                </tr>
                <tr>
                  <td>ADAS HD</td>
                  <td class="modal-table__td-1">Нет</td>
                  <td class="modal-table__td-2">Да</td>
                  <td class="modal-table__td-3">Да</td>
                </tr>
                <tr>
                  <td>X-PROG 3</td>
                  <td class="modal-table__td-1">Да</td>
                  <td class="modal-table__td-2">Да</td>
                  <td class="modal-table__td-3">Да</td>
                </tr>
                <tr>
                  <td>BST360</td>
                  <td class="modal-table__td-1">Да</td>
                  <td class="modal-table__td-2">Да</td>
                  <td class="modal-table__td-3">Да</td>
                </tr>
                <tr>
                  <td>WiFi Printer</td>
                  <td class="modal-table__td-1">Да</td>
                  <td class="modal-table__td-2">Да</td>
                  <td class="modal-table__td-3">Да</td>
                </tr>
                <tr>
                  <td>TSGUN</td>
                  <td class="modal-table__td-1">Да</td>
                  <td class="modal-table__td-2">Да</td>
                  <td class="modal-table__td-3">Да</td>
                </tr>
                <tr>
                  <td>VSP600</td>
                  <td class="modal-table__td-1">Да</td>
                  <td class="modal-table__td-2">Да</td>
                  <td class="modal-table__td-3">Да</td>
                </tr>
                <tr>
                  <td>O2-2 Oscilloscope</td>
                  <td class="modal-table__td-1">Да</td>
                  <td class="modal-table__td-2">Да</td>
                  <td class="modal-table__td-3">Да</td>
                </tr>
                <tr>
                  <td>S2-2 Sensorbox</td>
                  <td class="modal-table__td-1">Да</td>
                  <td class="modal-table__td-2">Да</td>
                  <td class="modal-table__td-3">Да</td>
                </tr>
                <tr>
                  <td>HD III</td>
                  <td class="modal-table__td-1">Нет</td>
                  <td class="modal-table__td-2">Да</td>
                  <td class="modal-table__td-3">Включено в комплект</td>
                </tr>
              </tbody>
            </table>
          </div>
          <button class="modal__close" data-modal-close>
            @include('../../img/close-icon.svg')
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
