<div class="modal modal-chars" id="modal-chars" aria-hidden="true">
  <div class="modal__wrapper">
    <div class="modal__scroll-wrapper" data-simplebar>
      <div class="modal__inner">
        <div class="modal__content">
          <h3 class="modal-chars__title section-title text-center">характеристики Launch X431</h3>
          <div class="modal__table modal-table">
            <table>
              <thead>
                <tr>
                  <td class="modal-table__title block-title">Сравнительная таблица <br> приборов LAUNCH Х431</td>
                  <td class="modal-table__td-1">
                    <div class="modal-table__img">
                      <picture>
                        <source srcset="img/hero-1.webp 1x, img/hero-1@2x.webp 2x" type="image/webp">
                        <img loading="lazy" src="img/hero-1.png" srcset="img/hero-1.png 1x, img/hero-1@2x.jpg 2x"
                          width="121" height="85" alt="">
                      </picture>
                    </div>
                  </td>
                  <td class="modal-table__td-2">
                    <div class="modal-table__img">
                      <picture>
                        <source srcset="img/hero-2.webp 1x, img/hero-2@2x.webp 2x" type="image/webp">
                        <img loading="lazy" src="img/hero-2.png" srcset="img/hero-2.png 1x, img/hero-2@2x.jpg 2x"
                          width="121" height="85" alt="">
                      </picture>
                    </div>
                  </td>
                  <td class="modal-table__td-3">
                    <div class="modal-table__img">
                      <picture>
                        <source srcset="img/hero-2.webp 1x, img/hero-2@2x.webp 2x" type="image/webp">
                        <img loading="lazy" src="img/hero-2.png" srcset="img/hero-2.png 1x, img/hero-2@2x.jpg 2x"
                          width="121" height="85" alt="">
                      </picture>
                    </div>
                  </td>
                  <td class="section-title modal-table__title-mob">Характеристики LAUNCH Х431</td>
                </tr>
                <tr>
                  <td class="modal-table__subtitle">LAUNCH Х431</td>
                  <td class="modal-table__subtitle">PRO v. 5.0</td>
                  <td class="modal-table__subtitle">PRO3 V.5.0 SE</td>
                  <td class="modal-table__subtitle">PRO3 V.5.0 SE FULL</td>
                </tr>
              </thead>
              <tbody>
                <tr class="modal-table__spoiler">
                  <td colspan="4">
                    Конфигурация
                    <img src="img/arrow-down-red-icon.svg" width="16" height="16" alt="toggle">
                  </td>
                </tr>
                <tr>
                  <td>Операционная система</td>
                  <td class="modal-table__td-1">Android 10.0</td>
                  <td class="modal-table__td-2">Android 10.0</td>
                  <td class="modal-table__td-3">Android 10.0</td>
                </tr>
                <tr>
                  <td>Экран</td>
                  <td class="modal-table__td-1">8", 1280*800</td>
                  <td class="modal-table__td-2">10.1", 1280*800</td>
                  <td class="modal-table__td-3">10.1", 1280*800</td>
                </tr>
                <tr>
                  <td>Процессор</td>
                  <td class="modal-table__td-1">2.0GHz, Quad-Core</td>
                  <td class="modal-table__td-2">2.0GHz, Quad-Core</td>
                  <td class="modal-table__td-3">2.0GHz, Quad-Core</td>
                </tr>
                <tr>
                  <td>Оперативная память</td>
                  <td class="modal-table__td-1">4 GB</td>
                  <td class="modal-table__td-2">4 GB</td>
                  <td class="modal-table__td-3">4 GB</td>
                </tr>
                <tr>
                  <td>Память</td>
                  <td class="modal-table__td-1">64 GB</td>
                  <td class="modal-table__td-2">64 GB</td>
                  <td class="modal-table__td-3">64 GB</td>
                </tr>
                <tr>
                  <td>АКБ</td>
                  <td class="modal-table__td-1">47.88Wh (7.6V, 6300mAh)</td>
                  <td class="modal-table__td-2">47.88Wh (7.6V, 6300mAh)</td>
                  <td class="modal-table__td-3">47.88Wh (7.6V, 6300mAh)</td>
                </tr>
                <tr>
                  <td>Камера</td>
                  <td class="modal-table__td-1">Rear 8 MP</td>
                  <td class="modal-table__td-2">Rear 8 MP</td>
                  <td class="modal-table__td-3">Rear 8 MP</td>
                </tr>
                <tr>
                  <td>VCI модуль</td>
                  <td class="modal-table__td-1">Bluetooth/USB</td>
                  <td class="modal-table__td-2">Bluetooth/USB</td>
                  <td class="modal-table__td-3">Bluetooth/USB</td>
                </tr>
                <tr>
                  <td>Размеры</td>
                  <td class="modal-table__td-1">234*166*39.5 mm</td>
                  <td class="modal-table__td-2">274*190.5*40.5 mm</td>
                  <td class="modal-table__td-3">274*190.5*40.5 mm</td>
                </tr>
                <tr class="modal-table__spoiler">
                  <td colspan="4">
                    Диагностические функции
                    <img src="img/arrow-down-red-icon.svg" width="16" height="16" alt="toggle">
                  </td>
                </tr>
                <tr>
                  <td>Размеры</td>
                  <td class="modal-table__td-1">234*166*39.5 mm</td>
                  <td class="modal-table__td-2">274*190.5*40.5 mm</td>
                  <td class="modal-table__td-3">274*190.5*40.5 mm</td>
                </tr>
                <tr class="modal-table__spoiler">
                  <td colspan="4">
                    Service Functions
                    <img src="img/arrow-down-red-icon.svg" width="16" height="16" alt="toggle">
                  </td>
                </tr>
                <tr>
                  <td>Размеры</td>
                  <td class="modal-table__td-1">234*166*39.5 mm</td>
                  <td class="modal-table__td-2">274*190.5*40.5 mm</td>
                  <td class="modal-table__td-3">274*190.5*40.5 mm</td>
                </tr>
                <tr class="modal-table__spoiler">
                  <td colspan="4">
                    Дополнительные модули
                    <img src="img/arrow-down-red-icon.svg" width="16" height="16" alt="toggle">
                  </td>
                </tr>
                <tr>
                  <td>Диагностический адаптер</td>
                  <td class="modal-table__td-1">234*166*39.5 mm</td>
                  <td class="modal-table__td-2">274*190.5*40.5 mm</td>
                  <td class="modal-table__td-3">274*190.5*40.5 mm</td>
                </tr>
                <tr class="modal-table__spoiler">
                  <td colspan="4">
                    Диагностический адаптер
                    <img src="img/arrow-down-red-icon.svg" width="16" height="16" alt="toggle">
                  </td>
                </tr>
                <tr>
                  <td>Диагностический адаптер</td>
                  <td class="modal-table__td-1">234*166*39.5 mm</td>
                  <td class="modal-table__td-2">274*190.5*40.5 mm</td>
                  <td class="modal-table__td-3">274*190.5*40.5 mm</td>
                </tr>
              </tbody>
            </table>
          </div>
          <button class="modal__close" data-modal-close>
            @include('../../img/close-icon.svg')
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
