<section class="attention">
  <div class="container">
    <div class="attention__head text-center">
      <h3 class="attention__title section-title">ВНИМАНИЕ! «СЕРЫЙ» LAUNCH </h3>
      <p class="attention__subtitle section-subtitle">К&nbsp;сожалению, в&nbsp;странах&nbsp;СНГ можно приобрести
        контрабандный прибор
        Launch, что&nbsp;является риском потери функциональности и&nbsp;денег для&nbsp;потребителя</p>
    </div>
    <div class="attention__inner">
      <div class="attention__img">
        <picture>
          <source srcset="img/attention.webp 1x, img/attention@2x.webp 2x" type="image/webp">
          <img loading="lazy" src="img/attention.png" srcset="img/attention.png 1x, img/attention@2x.png 2x" width="569"
            height="691" alt="ВНИМАНИЕ! «СЕРЫЙ» LAUNCH">
        </picture>
      </div>
      <div class="attention__accordion accordion">
        <div class="accordion__item is-active">
          <div class="accordion__head">
            <div class="accordion__icon">
              <img src="img/attention-icon.svg" width="19" height="19" alt="внимание">
            </div>
            <div class="accordion__name block-title">Блокировка при попытке обновлений</div>
          </div>
          <div class="accordion__content">Неофициальные версии блокируются заводом, ограничивая возможность эксплуатации
            и обновления нелегальных автосканеров</div>
        </div>
        <div class="accordion__item">
          <div class="accordion__head">
            <div class="accordion__icon">
              <img src="img/attention-icon.svg" width="19" height="19" alt="внимание">
            </div>
            <div class="accordion__name block-title">Нет акций на обновление ПО</div>
          </div>
          <div class="accordion__content">Неофициальные версии блокируются заводом, ограничивая возможность эксплуатации
            и обновления нелегальных автосканеров</div>
        </div>
        <div class="accordion__item">
          <div class="accordion__head">
            <div class="accordion__icon">
              <img src="img/attention-icon.svg" width="19" height="19" alt="внимание">
            </div>
            <div class="accordion__name block-title">Дорогие обновления</div>
          </div>
          <div class="accordion__content">Неофициальные версии блокируются заводом, ограничивая возможность эксплуатации
            и обновления нелегальных автосканеров</div>
        </div>
        <div class="accordion__item">
          <div class="accordion__head">
            <div class="accordion__icon">
              <img src="img/attention-icon.svg" width="19" height="19" alt="внимание">
            </div>
            <div class="accordion__name block-title">Отсутствие гарантии</div>
          </div>
          <div class="accordion__content">Неофициальные версии блокируются заводом, ограничивая возможность эксплуатации
            и обновления нелегальных автосканеров</div>
        </div>
        <div class="accordion__item">
          <div class="accordion__head">
            <div class="accordion__icon">
              <img src="img/attention-icon.svg" width="19" height="19" alt="внимание">
            </div>
            <div class="accordion__name block-title">Нет технической поддержки</div>
          </div>
          <div class="accordion__content">Неофициальные версии блокируются заводом, ограничивая возможность эксплуатации
            и обновления нелегальных автосканеров</div>
        </div>
      </div>
    </div>
  </div>
</section>
