<section class="benefits section-padding" id="benefits">
  <div class="container">
    <div class="benefits__inner">
      <h3 class="benefits__title section-title text-center">Автосканеры с&nbsp;кодом&nbsp;7D</h3>
      <p class="benefits__subtitle section-subtitle text-center">Гарантия официальности автосканера Launch</p>
      <ul class="benefits__list">
        <li class="benefits__item">
          <div class="benefits__icon">
            <img src="img/check-circle-icon.svg" width="30" height="30" alt="check">
          </div>
          <div class="benefits__info">
            <div class="benefits__name block-title">Гарантия официальности <br>
              автосканера </div>
            <p>Неофициальные автосканеры не&nbsp;имеет гарантии и&nbsp;блокируются производителем
              по&nbsp;IP при&nbsp;обновлении</p>
          </div>
        </li>
        <li class="benefits__item">
          <div class="benefits__icon">
            <img src="img/like-icon.svg" width="30" height="30" alt="like">
          </div>
          <div class="benefits__info">
            <div class="benefits__name block-title">Лучший сервис <br>
              для&nbsp;автосканеров Launch </div>
            <p>Наши сервисные инженеры прошли
              подготовку и&nbsp;сертифицированы
              заводом&nbsp;изготовителем Launch</p>
          </div>
        </li>
        <li class="benefits__item">
          <div class="benefits__icon">
            <img src="img/star-icon.svg" width="30" height="30" alt="star">
          </div>
          <div class="benefits__info">
            <div class="benefits__name block-title">Расширенная гарантия <br>
              2 года</div>
            <p>Автосканеры серии X431 с&nbsp;кодом 7D имеют гарантию 1&nbsp;год от&nbsp;завода и&nbsp;дополнительный
              1&nbsp;год гарантии от&nbsp;дистрибьютора.
            </p>
          </div>
        </li>
        <li class="benefits__item">
          <div class="benefits__icon">
            <img src="img/web-icon.svg" width="30" height="30" alt="web">
          </div>
          <div class="benefits__info">
            <div class="benefits__name block-title">Поддержка <br>
              на всех этапах</div>
            <p>Техническая консультация на&nbsp;этапе подбора, сопровождение на&nbsp;этапе запуска прибора в&nbsp;работу
              и&nbsp;сервисная
              поддержка в&nbsp;случае отказа.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
