<section class="benefits section-padding" id="benefits">
  <div class="container">
    <div class="benefits__inner">
      <h3 class="benefits__title section-title text-center">Автосканеры с&nbsp;кодом&nbsp;7D</h3>
      <p class="benefits__subtitle section-subtitle text-center">Гарантия официальности автосканера Launch</p>
      <ul class="benefits__list">
        <li class="benefits__item">
          <div class="benefits__icon">
            <img src="img/check-circle-icon.svg" width="30" height="30" alt="check">
          </div>
          <div class="benefits__info">
            <div class="benefits__name block-title">Гарантия официальности <br>
              автосканера </div>
            <p>Неофициальные автосканеры не&nbsp;имеет гарантии и&nbsp;блокируются производителем
              по&nbsp;IP при&nbsp;обновлении</p>
          </div>
        </li>
        <li class="benefits__item">
          <div class="benefits__icon">
            <img src="img/like-icon.svg" width="30" height="30" alt="like">
          </div>
          <div class="benefits__info">
            <div class="benefits__name block-title">Лучший сервис <br>
              для&nbsp;автосканеров Launch </div>
            <p>Наши сервисные инженеры прошли
              подготовку и&nbsp;сертифицированы
              заводом&nbsp;изготовителем Launch</p>
          </div>
        </li>
        <li class="benefits__item">
          <div class="benefits__icon">
            <img src="img/star-icon.svg" width="30" height="30" alt="star">
          </div>
          <div class="benefits__info">
            <div class="benefits__name block-title">Уникальная гарантия <br>
              от Launch</div>
            <p>С&nbsp;кодом дилера 7D в&nbsp;случае отказа прибора
              в&nbsp;гарантийный срок, на&nbsp;время ремонта
              Вам&nbsp;будет выдан подменный автосканер,
              что&nbsp;гарантирует отсутствие простоев в&nbsp;работе</p>
          </div>
        </li>
        <li class="benefits__item">
          <div class="benefits__icon">
            <img src="img/web-icon.svg" width="30" height="30" alt="web">
          </div>
          <div class="benefits__info">
            <div class="benefits__name block-title">Уникальная онлайн <br>
              поддержка пользователей</div>
            <p>Наша сервисная команда оказывает
              онлайн&nbsp;поддержку пользователям
              со&nbsp;сканерами с&nbsp;кодом 7D на&nbsp;крупнейшем
              форуме автодиагностов www.carhelp.info</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
