<section class="brands section-padding" id="brands">
  <div class="container">
    <div class="brands__inner">
      <h2 class="brands__title section-title text-center">Покрытие по&nbsp;маркам&nbsp;и&nbsp;моделям</h2>
      <p class="brands__subtitle section-subtitle text-center">Автосканеры поддерживают работу с&nbsp;большинством
        марок Европы, Китая,&nbsp;США,&nbsp;Японии&nbsp;и&nbsp;Кореи</p>
      <ul class="brands__list">
        <li class="brands__item brands__item--lg">
          <div class="brands__name">Европа</div>
          <p>
            Ford EU, Renault, Saab, Land Rover, Jaguar Mercedes Benz/Maybach, Smart, Porsche, Volvo, VW, Audi, Seat,
            Skoda, BMW / MINI / Rolls-Royce, Citroen, DACIA, Rover, Fiat, Peugeot, Aston Martin, Ferrari, Transporter
            V-Class, IKCO, Martha, Opel, Abbas, Lancia, Romeo, Bugatti, Iveco</p>
        </li>
        <li class="brands__item brands__item--lg">
          <div class="brands__name">Азия</div>
          BYD, Chery, Changhe, Gonow, HaFei, Jac, Jaingling, Foton, MG / SAIC, Zotye, SGMW, Beijin, ECUAID, Qi, Kowloon,
          Luxgen, Xiamen, Xiaokang, XinKai, SAIPA, ZhongShun, ZhongXing, DR, MVM, Chang’an, Weili, ChangCheng, Haima,
          Brilliance, Lifan, Tianjin FAW, GAC Chuan </p>
        </li>
        <li class="brands__item">
          <div class="brands__name">Япония и Южная Корея</div>
          Honda, Suzuki, Isuzu, Acura, Nissan, Infiniti, Toyota, Lexus, Mitsubishi, Subaru, Daihatsu, Mazda, Hyundai,
          SsangYong, DAEWOO, Samsung, Kia </p>
        </li>
        <li class="brands__item">
          <div class="brands__name">США</div>
          <p>Chrysler / Dodge / Jeep, GM / Buick / Cadillac / Chevrolet, Ford / Lincoln</p>
        </li>
        <li class="brands__item">
          <div class="brands__name">Россия</div>
          <p>ВАЗ, ИЖ, ПАЗ, СеАЗ, УАЗ, ГАЗ</p>
        </li>
        <li class="brands__item brands__item--sm">
          <div class="brands__name">Бразилия</div>
          <p>GM, Fiat</p>
        </li>
        <li class="brands__item brands__item--sm">
          <div class="brands__name">Индия</div>
          <p>Mahindra, Tata, Perodua, Proton, Maruti</p>
        </li>
        <li class="brands__item brands__item--sm">
          <div class="brands__name">Австралия</div>
          <p>Ford, Horton</p>
        </li>
        <li class="brands__item brands__item--sm">
          <div class="brands__name">Малайзия</div>
          <p>Perodua, Proton</p>
        </li>
      </ul>
      <div class="text-center">
        <a href="https://qcar.x431.com/qcar/#/pc/index?q=e30%3D" target="_blank" class="btn">Таблица
          применяемости</a>
      </div>
    </div>
  </div>
</section>
