<section class="chars section-padding" id="chars">
  <div class="container">
    <div class="chars__inner">
      <h2 class="chars__title section-title text-center">Характеристики и&nbsp;комплектация</h2>
      <p class="chars__subtitle section-subtitle text-center">Выбирайте то, что&nbsp;необходимо именно&nbsp;Вам</p>
      <ul class="chars__list">
        <li class="chars__item">
          <div class="chars__img">
            <picture>
              <source srcset="img/hero-1.webp 1x, img/hero-1@2x.webp 2x" type="image/webp">
              <img loading="lazy" src="img/hero-1.jpg" srcset="img/hero-1.jpg 1x, img/hero-1@2x.jpg 2x" width="185"
                height="150" alt="Launch X431 PRO
                V5.0 SE">
            </picture>
          </div>
          <div class="chars__name">Launch X431 PRO V5.0 SE</div>
          <div class="chars__buttons">
            <button class="chars__btn btn-reset" data-modal-open="modal-complect-1">
              <span>Комплектация</span>
              @include('../img/arrow-circle-icon.svg')
            </button>
            <button class="chars__btn btn-reset" data-modal-open="modal-chars" data-chars="1"
              data-name="Launch X431 PRO V5.0 SE">
              <span>Характеристики</span>
              @include('../img/arrow-circle-icon.svg')
            </button>
          </div>
        </li>
        <li class="chars__item">
          <div class="chars__img">
            <picture>
              <source srcset="img/hero-2.webp 1x, img/hero-2@2x.webp 2x" type="image/webp">
              <img loading="lazy" src="img/hero-2.jpg" srcset="img/hero-2.jpg 1x, img/hero-2@2x.jpg 2x" width="185"
                height="150" alt="Launch X431 PRO3 V.5.0 SE">
            </picture>
          </div>
          <div class="chars__name">Launch X431 PRO3 V.5.0&nbsp;SE</div>
          <div class="chars__buttons">
            <button class="chars__btn btn-reset" data-modal-open="modal-complect-2">
              <span>Комплектация</span>
              @include('../img/arrow-circle-icon.svg')
            </button>
            <button class="chars__btn btn-reset" data-modal-open="modal-chars" data-chars="2"
              data-name="Launch X431 PRO3 V.5.0 SE">
              <span>Характеристики</span>
              @include('../img/arrow-circle-icon.svg')
            </button>
          </div>
        </li>
        <li class="chars__item">
          <div class="chars__img">
            <picture>
              <source srcset="img/hero-2.webp 1x, img/hero-2@2x.webp 2x" type="image/webp">
              <img loading="lazy" src="img/hero-2.jpg" srcset="img/hero-2.jpg 1x, img/hero-2@2x.jpg 2x" width="185"
                height="150" alt="Launch X431 PRO3 V.5.0 SE FULL">
            </picture>
          </div>
          <div class="chars__name">Launch X431 PRO3 V.5.0&nbsp;SE&nbsp;FULL</div>
          <div class="chars__buttons">
            <button class="chars__btn btn-reset" data-modal-open="modal-complect-3">
              <span>Комплектация</span>
              @include('../img/arrow-circle-icon.svg')
            </button>
            <button class="chars__btn btn-reset" data-modal-open="modal-chars" data-chars="3"
              data-name="Launch X431 PRO3 V.5.0 SE FULL">
              <span>Характеристики</span>
              @include('../img/arrow-circle-icon.svg')
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
