<section class="consult" id="consult">
  <div class="container">
    <div class="consult__inner">
      <div class="consult__info">
        <h3 class="consult__title section-title">Получите <br>
          консультацию <br>
          от&nbsp;специалиста</h3>
        <p class="consult__subtitle section-subtitle">Заполните форму и&nbsp;мы вам&nbsp;перезвоним</p>
      </div>
      <form class="consult__form form" method="post">
        <label class="form__item">
          <input type="text" class="form__input form__input--name" placeholder=" ">
          <span class="form__placeholder">Ваше имя</span>
        </label>
        <label class="form__item">
          <input type="tel" class="form__input form__input--tel" placeholder=" ">
          <span class="form__placeholder">Номер телефона</span>
        </label>
        <label class="form__item">
          <input type="email" class="form__input form__input--email" placeholder=" ">
          <span class="form__placeholder">Ваш email</span>
        </label>
        <button class="form__btn btn">Отправить</button>
        <div class="form__caption">Нажимая на&nbsp;кнопку я&nbsp;соглашаюсь
          на&nbsp;<a href="#" target="_blank">обработку персональных данных</a></div>
      </form>
    </div>
  </div>
</section>
