<footer class="footer">
  <div class="container">
    <div class="footer__logo-wrapper">
      <a class="footer__logo" href="./">
        <img src="img/logo.svg" width="197" height="46" alt="logo">
      </a>
    </div>
    <div class="footer__inner">
      <div class="footer__col">
        <p>Launch Russia</p>
        <p>г. Москва, ул. Новгородская, д. 1 (БЦ «Бизнес Депо») корпус Г, 3 этаж, офис 304.4</p>
        <p>тел.: <a class="footer__phone" href="tel:+74952408470">+7 495 240-84-70</a>, <a class="footer__phone"
            href="tel:+78003503531">+7 800 350-35-31</a></p>
        <p>e-mail: <a class="footer__email" href="mailto:sales@launch-russia.ru">sales@launch-russia.ru</a></p>
        <p></p>
      </div>
      <ul class="footer__list footer__col">
        <li><a href="#">О компании</a></li>
        <li><a href="#">Где купить</a></li>
        <li><a href="#">Новости</a></li>
      </ul>
      <ul class="footer__list footer__col">
        <li><a href="#">Обучение</a></li>
        <li><a href="#">Технологии</a></li>
        <li><a href="#">Контакты</a></li>
      </ul>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <div class="footer__bottom-items">
        <a href="https://launch-russia.ru/upload/files/docs/oferta_launch.pdf" target="_blank">Договор оферты</a>
        <a href="https://launch-russia.ru/upload/files/docs/opd_launch.pdf" target="_blank">Политика
          конфиденциальности</a>
        @include('socials.html', {classes: 'footer__socials'})
      </div>
    </div>
  </div>
</footer>
