<footer class="footer">
  <div class="container container--lg">
    <div class="footer__inner">
      <div class="footer__logo-wrapper footer__col">
        <div class="footer__logo">
          <img src="img/logo.svg" width="166" height="26" alt="logo">
        </div>
        <div class="footer__address">ул. Красноткацкая, 90, 35, Киев, 02000</div>
      </div>
      <ul class="footer__list footer__col">
        <li><a href="#functions">Функции</a></li>
        <li><a href="#chars">Сравнение</a></li>
        <li><a href="#benefits">Код диллера 7D</a></li>
      </ul>
      <ul class="footer__list footer__col">
        <li><a href="#study">Обучение</a></li>
        <li><a href="#partners">Партнеры</a></li>
      </ul>
      <ul class="footer__list footer__col">
        <li><a href="tel:0503795456">050 379 54 56</a></li>
        <li><a href="mailto:info@autel-ukraine.com.ua">info@autel-ukraine.com.ua</a></li>
      </ul>
    </div>
    <div class="footer__bottom">
      <div class="footer__bottom-logo"><img src="img/brainstorm-logo.svg" width="304" height="72" alt="brainstorm">
      </div>
      <div class="footer__bottom-items">
        <a href="#" target="_blank">Договор оферты</a>
        <a href="#" target="_blank">Политика конфиденциальности</a>
        <p>2023 © Все права защищены.</p>
      </div>
    </div>
  </div>
</footer>
