<section class="functions section-padding" id="functions">
  <div class="container">
    <h3 class="functions__title section-title text-center">ВЫПОЛНЯЕТ ВСЕ ФУНКЦИИ ДИАГНОСТИКИ</h3>
    <p class="functions__subtitle section-subtitle text-center">Функциональные возможности</p>
  </div>
  <div class="functions__inner">
    <div class="functions__img">
      <picture>
        <source srcset="img/functions.webp 1x, img/functions@2x.webp 2x" type="image/webp">
        <img loading="lazy" src="img/functions.png" srcset="img/functions.png 1x, img/functions@2x.png 2x" width="630"
          height="409" alt="автосканер">
      </picture>
    </div>
    <div class="functions__content">
      <ul class="functions__list">
        <li class="functions__item">
          <div class="functions__icon">
            <img src="img/wrench-icon.svg" width="24" height="24" alt="wrench">
          </div>
          <div class="functions__name">Сервисные функции</div>
        </li>
        <li class="functions__item">
          <div class="functions__icon">
            <img src="img/sliders-icon.svg" width="24" height="24" alt="sliders">
          </div>
          <div class="functions__name">Процедуры адаптации</div>
        </li>
        <li class="functions__item">
          <div class="functions__icon">
            <img src="img/settings-icon.svg" width="24" height="24" alt="settings">
          </div>
          <div class="functions__name">Чтение и&nbsp;удаление <br> ошибок в&nbsp;ЭБУ</div>
        </li>
        <li class="functions__item">
          <div class="functions__icon">
            <img src="img/keyboard-icon.svg" width="24" height="24" alt="keyboard">
          </div>
          <div class="functions__name">Отображение параметров ЭБУ электронных систем автомобиля</div>
        </li>
      </ul>
      <ul class="functions__list">
        <li class="functions__item">
          <div class="functions__icon">
            <img src="img/search-icon.svg" width="24" height="24" alt="search">
          </div>
          <div class="functions__name">Автораспознование <br> автомобиля по&nbsp;VIN</div>
        </li>
        <li class="functions__item">
          <div class="functions__icon">
            <img src="img/check-circle-icon.svg" width="24" height="24" alt="check">
          </div>
          <div class="functions__name">Настройка блоков комфорта</div>
        </li>
        <li class="functions__item">
          <div class="functions__icon">
            <img src="img/shuffle-icon.svg" width="24" height="24" alt="shuffle">
          </div>
          <div class="functions__name">Кодирование ЭБУ</div>
        </li>
        <li class="functions__item">
          <div class="functions__icon">
            <img src="img/battery-icon.svg" width="24" height="24" alt="battery">
          </div>
          <div class="functions__name">Активация исполнительных механизмов</div>
        </li>
      </ul>
    </div>
  </div>
</section>
