<header class="header">
  <div class="header__top">
    <div class="header__top-container container">
      <a class="header__logo" href="./">
        <img width="203" height="40" src="img/logo.svg" alt="autel">
      </a>
      @include('nav.html', {'classes': 'header__top-nav'})
      <a class="header__btn" href="#">Магазин</a>
      <button class="burger" aria-label="Открыть меню">
        <span class="burger__line"></span>
      </button>
    </div>
  </div>
  <div class="menu">
    <a class="menu__btn" href="#">
      @include('../img/shop-icon.svg')
      <span>Магазин</span>
    </a>
    <nav class="menu__nav nav">
      <ul>
        <li><a href="#">
            @include('../img/about-icon.svg')
            <span>О компании</span>
          </a></li>
        <li><a href="#">
            @include('../img/buy-icon.svg')
            <span>Где купить</span>
          </a></li>
        <li><a href="#">
            @include('../img/news-icon.svg')
            <span>Новости</span>
          </a></li>
        <li><a href="#">
            @include('../img/education-icon.svg')
            <span>Обучение</span>
          </a></li>
        <li class="nav-submenu">
          <a href="#"> @include('../img/products-icon.svg')<span>Продукты</span></a>
          <ul>
            <li><a href="#">X-431 PRO v.4 2020</a></li>
            <li><a href="#">X-431 PRO3 v.2020</a></li>
            <li><a href="#">X-431 PRO Lite v.2017</a></li>
            <li><a href="#">X-431 PRO3 HD</a></li>
          </ul>
        </li>
        <li><a href="#">
            @include('../img/technology-icon.svg')
            <span>Технологии</span>
          </a></li>
        <li><a href="#">
            @include('../img/contacts-icon.svg')
            <span>Контакты</span>
          </a></li>
      </ul>
    </nav>
    <div class="menu__phones">
      <a class="menu__phone" href="tel:+380503795456">+7 495 240-84-70</a>
      <a class="menu__phone" href="tel:+380503795456">+7 800 350-35-31</a>
    </div>
    <a class="menu__email" href="mailto:sales@launch-russia.ru">sales@launch-russia.ru</a>
    @include('socials.html', {classes: 'menu__socials'})
  </div>
  <div class="overlay"></div>
</header>
