<section class="lead section-padding" id="lead">
  <div class="container">
    <div class="lead__inner">
      <button class="lead__btn lead__btn--mobile btn" data-modal-open="modal-form">Получить консультацию</button>
      <div class="lead__img">
        <picture>
          <source srcset="img/lead.webp 1x, img/lead@2x.webp 2x" type="image/webp">
          <img loading="lazy" src="img/lead.png" srcset="img/lead.png 1x, img/lead@2x.png 2x" width="534" height="402"
            alt="планшет launch">
        </picture>
      </div>
      <div class="lead__content">
        <h3 class="lead__title section-title">Получите <br>
          консультацию
          от&nbsp;специалиста</h3>
        <p class="lead__subtitle section-subtitle">Заполните форму и&nbsp;мы&nbsp;Вам&nbsp;перезвоним</p>
        <button class="lead__btn btn" data-modal-open="modal-form">Получить консультацию</button>
      </div>
    </div>
  </div>
</section>
