<nav class="@classes nav">
  <ul>
    <li><a href="#">О компании</a></li>
    <li><a href="#">Где купить</a></li>
    <li><a href="#">Новости</a></li>
    <li><a href="#">Обучение</a></li>
    <li class="nav-submenu">
      <a href="#"><span>Продукты</span></a>
      <ul>
        <li><a href="#">X-431 PRO v.4 2020</a></li>
        <li><a href="#">X-431 PRO3 v.2020</a></li>
        <li><a href="#">X-431 PRO Lite v.2017</a></li>
        <li><a href="#">X-431 PRO3 HD</a></li>
      </ul>
    </li>
    <li><a href="#">Технологии</a></li>
    <li><a href="#">Контакты</a></li>
  </ul>
</nav>
