<section class="partners section-padding" id="partners">
  <div class="container">
    <div class="partners__inner">
      <h3 class="partners__title section-title text-center">НАШИ ПАРТНЕРЫ&nbsp;– ЛУЧШИЕ КОМПАНИИ НА&nbsp;РЫНКЕ</h3>
      <div class="partners__content">
        <ul class="partners__list">
          <li class="partners__item">
            <picture>
              <source srcset="img/partners-1.webp 1x, img/partners-1@2x.webp 2x" type="image/webp">
              <img loading="lazy" src="img/partners-1.png" srcset="img/partners-1.png 1x, img/partners-1@2x.png 2x"
                width="128" height="78" alt="логотип КС авто">
            </picture>
            <picture>
              <source srcset="img/partners-5.webp 1x, img/partners-5@2x.webp 2x" type="image/webp">
              <img loading="lazy" src="img/partners-5.png" srcset="img/partners-5.png 1x, img/partners-5@2x.png 2x"
                width="254" height="58" alt="логотип гаражный арсенал">
            </picture>
          </li>
          <li class="partners__item">
            <picture>
              <source srcset="img/partners-2.webp 1x, img/partners-2@2x.webp 2x" type="image/webp">
              <img loading="lazy" src="img/partners-2.png" srcset="img/partners-2.png 1x, img/partners-2@2x.png 2x"
                width="132" height="90" alt="логотип химшина">
            </picture>
            <picture>
              <source srcset="img/partners-6.webp 1x, img/partners-6@2x.webp 2x" type="image/webp">
              <img loading="lazy" src="img/partners-6.png" srcset="img/partners-6.png 1x, img/partners-6@2x.png 2x"
                width="158" height="60" alt="логотип obd2scan">
            </picture>
          </li>
          <li class="partners__item">
            <picture>
              <source srcset="img/partners-3.webp 1x, img/partners-3@2x.webp 2x" type="image/webp">
              <img loading="lazy" src="img/partners-3.png" srcset="img/partners-3.png 1x, img/partners-3@2x.png 2x"
                width="252" height="67" alt="логотип Tehcent">
            </picture>
            <div class="partners__item-row">
              <picture>
                <source srcset="img/partners-7.webp 1x, img/partners-7@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/partners-7.png" srcset="img/partners-7.png 1x, img/partners-7@2x.png 2x"
                  width="181" height="58" alt="логотип эксаком">
              </picture>
              <picture>
                <source srcset="img/partners-8.webp 1x, img/partners-8@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/partners-8.png" srcset="img/partners-8.png 1x, img/partners-8@2x.png 2x"
                  width="199" height="64" alt="логотип эксаком">
              </picture>
            </div>
          </li>
          <li class="partners__item">
            <picture>
              <source srcset="img/partners-4.webp 1x, img/partners-4@2x.webp 2x" type="image/webp">
              <img loading="lazy" src="img/partners-4.png" srcset="img/partners-4.png 1x, img/partners-4@2x.png 2x"
                width="242" height="61" alt="логотип техно-групп">
            </picture>
            <picture>
              <source srcset="img/partners-9.webp 1x, img/partners-9@2x.webp 2x" type="image/webp">
              <img loading="lazy" src="img/partners-9.png" srcset="img/partners-9.png 1x, img/partners-9@2x.png 2x"
                width="157" height="82" alt="логотип гаро">
            </picture>
          </li>
        </ul>
        <div class="partners__pagination swiper-pagination slider-pagination"></div>
      </div>
    </div>
  </div>
</section>
