<section class="profit section-padding">
  <div class="container">
    <div class="profit__inner">
      <div class="profit__img">
        <picture>
          <source srcset="img/profit@2x.webp 1x, img/profit@2x.webp 2x" type="image/webp">
          <img loading="lazy" src="img/profit@2x.jpg" srcset="img/profit@2x.jpg 1x, img/profit@2x.jpg 2x" width="568"
            height="509" alt="Выгодное предложение">
        </picture>
      </div>
      <div class="profit__content">
        <h2 class="profit__title section-title">Выгодное предложение
          <div class="profit__banner banner">01.02.2023 - 31.03.2023</div>
        </h2>
        <p class="profit__subtitle section-subtitle">При покупке автосканера Launch X-431 PRO 4.0, PRO 5.0, PRO3 v 5.0
          дарим:</p>
        <ul>
          <li>VSP600 цифровой видеоэндоскоп с&nbsp;зондом&nbsp;5,5&nbsp;мм</li>
          <li>BST360 беспроводной тестер аккумуляторных батарей</li>
        </ul>
        <a class="profit__btn btn" href="#">Приобрести автосканер</a>
      </div>
    </div>
  </div>
</section>
