<section class="study section-padding" id="study">
  <div class="container">
    <div class="study__inner">
      <div class="study__head text-center">
        <h3 class="study__title section-title">УЧЕБНАЯ ЛАБОРАТОРИЯ
          ДЛЯ&nbsp;КОМмЕРЧЕСКОГО ТРАСПОРТА</h3>
        <p class="study__subtitle section-subtitle">Совместный проект с учебным центром Константина Курганова</p>
      </div>
      <div class="study__images">
        <div class="study__img">
          <picture>
            <source srcset="img/study-1.webp 1x, img/study-1@2x.webp 2x" type="image/webp">
            <img loading="lazy" src="img/study-1.jpg" srcset="img/study-1.jpg 1x, img/study-1@2x.jpg 2x" width="397"
              height="245" alt="обучение">
          </picture>
        </div>
        <div class="study__img">
          <picture>
            <source srcset="img/study-2.webp 1x, img/study-2@2x.webp 2x" type="image/webp">
            <img loading="lazy" src="img/study-2.jpg" srcset="img/study-2.jpg 1x, img/study-2@2x.jpg 2x" width="397"
              height="245" alt="обучение">
          </picture>
        </div>
        <div class="study__img">
          <picture>
            <source srcset="img/study-3.webp 1x, img/study-3@2x.webp 2x" type="image/webp">
            <img loading="lazy" src="img/study-3.jpg" srcset="img/study-3.jpg 1x, img/study-3@2x.jpg 2x" width="397"
              height="245" alt="обучение">
          </picture>
        </div>
      </div>
      <ol class="study__benefits">
        <li class="study__item">Практика на&nbsp;реальных
          автомобилях</li>
        <li class="study__item">Оборудование <br>
          для&nbsp;практики </li>
        <li class="study__item">Цифровая&nbsp;инфраструктура <br>
          для&nbsp;обучения</li>
        <li class="study__item">Технические эксперты <br>
          с&nbsp;опытом более 20&nbsp;лет</li>
      </ol>
      <div class="text-center">
        <a class="btn" href="#">Программа курса</a>
      </div>
    </div>
  </div>
</section>
