<section class="video video--bg-circles-mobile section-padding">
  <div class="container">
    <div class="video__inner">
      <div class="video__preview">
        <picture>
          <source srcset="img/video-2.webp 1x, img/video-2@2x.webp 2x" type="image/webp">
          <img loading="lazy" src="img/video-2.jpg" srcset="img/video-2.jpg 1x, img/video-2@2x.jpg 2x" width="1240"
            height="570" alt="video">
        </picture>
        <div class="video__info video__info--lg">
          <h4 class="video__info-title section-title">25&nbsp;лет развития</h4>
          <p class="video__info-subtitle section-subtitle">Оборудование, проверенное временем</p>
          <a href="https://www.youtube.com/watch?v=xakUdEfs08g" data-fslightbox
            class="btn-reset player-icon video__play">
            @include('../img/play-circle-icon.svg')
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
