<section class="video video--bg-circles section-padding">
  <div class="container">
    <div class="video__head">
      <h3 class="video__title section-title">РАЗВИВАЙТЕСЬ КАК&nbsp;СПЕЦИАЛИСТ</h3>
      <p class="video__subtitle section-subtitle">В&nbsp;нашем учебном центре для&nbsp;технических&nbsp;специалистов</p>
    </div>
    <div class="video__inner">
      <div class="video__preview">
        <picture>
          <source srcset="img/why-4.webp" type="image/webp">
          <source srcset="img/why-4.jpg" type="image/jpeg">
          <img src="img/why-4.jpg" width="1240" height="570" alt="video">
        </picture>
        <div class="video__info">
          <h4 class="video__info-title section-title">LAUNCH</h4>
          <p class="video__info-subtitle section-subtitle">Обзор моделей сканеров LAUNCH
            и&nbsp;их&nbsp;отличия друг от&nbsp;друга</p>
          <a href="https://www.youtube.com/watch?v=ROTl_BNu2ls&ab_channel=BrainStormAutolab" data-fslightbox
            class="btn-reset player-icon video__play">
            @include('../img/play-circle-icon.svg')
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
