<section class="why section-padding" id="why">
  <div class="container">
    <div class="why__inner">
      <h3 class="why__title section-title text-center">ПОЧЕМУ&nbsp;ДОВЕРЯЮТ <br>
        BRAINSTORM</h3>
      <div class="why__content">
        <div class="why__slider swiper">
          <div class="swiper-wrapper">
            <div class="why__item swiper-slide">
              <picture>
                <source srcset="img/why-1.webp" type="image/webp">
                <source srcset="img/why-1.jpg" type="image/jpeg">
                <img src="img/why-1.jpg" width="818" height="365" alt="launch x431 conf">
              </picture>
            </div>
            <div class="why__item swiper-slide">
              <picture>
                <source srcset="img/why-2.webp" type="image/webp">
                <source srcset="img/why-2.png" type="image/jpeg">
                <img src="img/why-2.png" width="818" height="365" alt="launch x431 conf">
              </picture>
            </div>
            <div class="why__item swiper-slide">
              <picture>
                <source srcset="img/why-3.webp" type="image/webp">
                <source srcset="img/why-3.jpg" type="image/jpeg">
                <img src="img/why-3.jpg" width="818" height="365" alt="launch x431 conf">
              </picture>
            </div>
            <div class="why__item swiper-slide">
              <picture>
                <source srcset="img/why-4.webp" type="image/webp">
                <source srcset="img/why-4.jpg" type="image/jpeg">
                <img src="img/why-4.jpg" width="818" height="365" alt="launch x431 conf">
              </picture>
            </div>
            <div class="why__item swiper-slide">
              <picture>
                <source srcset="img/why-5.webp" type="image/webp">
                <source srcset="img/why-5.jpg" type="image/jpeg">
                <img src="img/why-5.jpg" width="818" height="365" alt="launch x431 conf">
              </picture>
            </div>
          </div>
          <div class="swiper-pagination slider-pagination"></div>
        </div>
        <div class="why__prev">
          <img src="img/arrow-left-icon.svg" width="12" height="20" alt="prev slide">
        </div>
        <div class="why__next">
          <img src="img/arrow-left-icon.svg" width="12" height="20" alt="next slide">
        </div>
      </div>
      <div class="why__bottom why-pagination">
        <div class="why-pagination__panel"></div>
        <div class="why-pagination__scroll">
          <div class="why-pagination__wrapper">
            <div class="why-pagination__item is-active">
              <div class="why-pagination__icon"><img src="img/star-icon.svg" alt="star"></div>
              <div class="why-pagination__text">ТОП-1 дистрибьютор <br> 4&nbsp;года&nbsp;подряд</div>
            </div>
            <div class="why-pagination__item">
              <div class="why-pagination__icon"><img src="img/study-icon.svg" alt="study"></div>
              <div class="why-pagination__text">Свой учебный <br>
                центр</div>
            </div>
            <div class="why-pagination__item">
              <div class="why-pagination__icon"><img src="img/check-circle-icon.svg" alt="check"></div>
              <div class="why-pagination__text">Золотой ключ <br>
                2021</div>
            </div>
            <div class="why-pagination__item">
              <div class="why-pagination__icon"><img src="img/user-icon.svg" alt="user"></div>
              <div class="why-pagination__text">Техническая <br>
                консультация</div>
            </div>
            <div class="why-pagination__item">
              <div class="why-pagination__icon"><img src="img/diamond-icon.svg" alt="diamond"></div>
              <div class="why-pagination__text">15+ лет <br> опыта

                на рынке автодиагностики
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
